@mixin box {
  display: block;
  border: 1px solid currentcolor;
  margin-bottom: 1em;
  padding: 0.5em;
  li & {
    margin-bottom: 0;
  }
}

@mixin box--bold {
  @include box;
  border-width: 2px;
  font-weight: bold;
}

.box {
  @include box;

  &--important {
    @include box--bold;
    font-size: larger;
  }

  &--alert {
    @include box--bold;
    color: $red;
  }
}

strong.box,
b.box {
  @include box--bold;
}
