.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 896px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  margin: 1em 0;
  padding: 0;

  & > li {
    /* for IE11 */
    display: block;
    display: contents;
  }

  & > a,
  & > li > a {
    display: block;
    border: 1px solid $black-gray;
    border-left: 4px solid $heading-color;
    font-weight: bold;
    padding: 0.5em;
  }
}

.cards + h2 {
  margin-top: 1.6em;
}
