details {
  display: block;
  
  margin: 0.125em -0.75em;
  padding: 0.125em 0.75em;
  border: solid 1px $gray;
  border-radius: 0.375em;

  summary {
    cursor: pointer;
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

ul > li > details {
  margin-left: 0;
}

li > ul ~ details, li > ol ~ details {
  padding-left: 40px;
  & > summary {
    margin-left: -20px;
  }
  @media (max-width: 640px) {
    padding-left: 20px;
  }

}

details + details {
  margin-top: 0.25em;
}
