:link {
  color: $link-color;
}
:visited {
  color: $visited-color;
}
:link,
:visited {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.arrow-link::after {
  content: "arrow_forward";
  font-family: "Material Icons";
  font-weight: bold;
  vertical-align: bottom;
}
