ul,
ol {
  @media (max-width: 640px) {
    padding-left: 20px;
  }

  & > li {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
  }
  & > li:first-child {
    margin-top: 0;
  }
  & > li:last-child {
    margin-bottom: 0;
  }

  &.gap {
    & > li {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    & > li:first-child {
      margin-top: 0;
    }
    & > li:last-child {
      margin-bottom: 0;
    }
  }

  & > li > p.additional-info {
    display: list-item;
    list-style-type: circle;
    margin-left: 40px;

    @media (max-width: 640px) {
      margin-left: 20px;
    }
  }
}

li > ul > li:first-child,
li > ol > li:first-child {
  margin-top: 0.125em;
}

@counter-style decimal-bracket {
  system: extends decimal;
  prefix: "[";
  suffix: "] ";
}

ol.bracket {
  list-style: decimal-bracket;
}

ul.none {
  list-style: none;
  padding-left: 0;

  & ul {
    list-style: none;
  }
}
