table {
  display: block;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; // For Firefox to horizontally scroll wider tables.
  -webkit-overflow-scrolling: touch;

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 0.5em 1em;
    border: 1px solid $gray;
  }
}
