.alert {
  color: $red;
}

.center {
  text-align: center;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  --aspect-ratio: 56.25%;
  padding-bottom: var(--aspect-ratio);
  > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
