{% unless include.part == "important" %}
<p>The University of Tokyo is conducting various initiatives for the improvement of information security, all of which are detailed on <a href="https://univtokyo.sharepoint.com/sites/Security/SitePages/en/Home.aspx">the University of Tokyo's security page</a>. A prime example of these initiatives is the implementation of annual Information Security Education for all UTokyo Account holders.
{%- if page.slug == "oc" %}Those who have newly enrolled should first attend this Information Security Education.
{%- else %}Those who have newly appointed should first attend this Information Security Education.{%- endif %}</p>
<p>For details about the timing and the procedure of the course, kindly refer to <a href="https://univtokyo.sharepoint.com/sites/Security/SitePages/en/Information_Security_Education.aspx">the Information Security Education page</a>. Once you complete the course, you will be able to use<a href="/en/utokyo_wifi">UTokyo Wi-Fi</a>, <a href="/en/utokyo_vpn">UTokyo VPN</a>, and <a href="/en/slack">UTokyo Slack</a>((Note: Enabling Multi-Factor Authentication for your UTokyo Account is mandatory for <a href="/en/utokyo_vpn">UTokyo VPN</a> and <a href="/en/slack">UTokyo Slack</a>).
</p>
{% endunless %}
{% unless include.part == "explanation" %}
<ol>
  <li>At the University of Tokyo, we conduct information security education for everyone with a UTokyo Account each year. Those who have newly enrolled should first attend this Information Security Education. For details about the timing and the procedure of the course, kindly refer to <a href="https://univtokyo.sharepoint.com/sites/Security/SitePages/en/Information_Security_Education.aspx">the Information Security Education page</a>.</li>
  <li>Once you pass the confirmation test and respond to the questionnaire, your attendance will be completed.</li>
  <li>Information Security Education is conducted every year. When the implementation period arrives, you will be notified, so please ensure to pass the test.</li>
</ol>
<ul>
  <li>If this procedure does not work, please consult the <a href="/en/support/">Technical Support Desk</a>.</li>
</ul>
{% endunless %}