---
title: オンライン授業・Web会議 ポータルサイト@ 東京大学
layout: common
---

<div class="header">
  <header>
    <div class="header__hamburger-button">
      <button class="hiraku-open-btn" id="offcanvas-btn-left" data-toggle-offcanvas="#js-hiraku-offcanvas-1">
      <span class="hiraku-open-btn-line"></span>
      </button>
      <div style="line-height: 10px;font-size: 12px;color: white;">Menu</div>
    </div>
    <h1>
      <a class="header__title" href="/{% if page.lang == "en" %}en/{% endif %}">
        <div class="header__title__main">utelecon</div>
        <div class="header__title__sub">オンライン授業・Web会議ポータルサイト @ 東京大学</div>
      </a>
    </h1>
    <div class="header__hamburger-contents">
      <div class="header__links">
        <div class="gcse-search"></div>
        <div>
          <a href="/sitemap/">このサイトについて</a> | <a href="/en{{page.url}}">English</a>
        </div>
      </div>
      <nav class="header__nav">
        <ul>
          {% for item in site.data.nav %}
            <li>
              <div class="header_nav_text">{{ item.name }}</div>
              <ul>
                {% for second in item.contents %}
                  <li><a href="{{ second.url }}"{%
                    assign url_slice = second.url | slice: 0, 4
                  %}{%
                    if url_slice == "http"
                  %} target="_blank" rel="noopener"{%
                    endif
                  %}>{{ second.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <script>
      $(".header__hamburger-contents").hiraku({
        btn:"#offcanvas-btn-left",
        direction:"left"
      });
    </script>
  </header>

  <div class="top__cards">
    <a href="/oc/">オンライン授業を受けるために<small>（学生向け）</small></a>
    <a href="/faculty_members/">オンライン授業を始めるために<small>（教員向け）</small></a>
    <a href="/improvement/">よりよいオンライン授業をするために<small>（教員向け）</small></a>
    <a href="/supports/">サポート窓口</a>
    <a href="/change2021s/">2021年春のシステム変更</a>
  </div>
<!--
  <div class="top-page-section-wrapper" style="grid-row: 3 / 4; grid-column: 1 / 3;">
    <div class="top-page-top-wrapper">
      <a class="top-page-top-element-wrapper" href="oc/">
        <div class="top-page-top-element">
          <img src="/assets/images/online_students.svg" alt="logo" />
          <h3>オンライン授業を受けるために（学生向け）</h3>
          <p>オンライン授業の基本的な受け方まとめ。</p>
          <p class="watch-more">もっと見る</p>
        </div>
      </a>
      <a class="top-page-top-element-wrapper" href="faculty_members/">
        <div class="top-page-top-element">
          <img src="/assets/images/online_profs.svg" alt="logo" />
          <h3>オンライン授業を始めるために（教員向け）</h3>
          <p>オンライン授業を始めるために必要な基礎情報まとめ。</p>
          <p class="watch-more">もっと見る</p>
        </div>
      </a>
      <a class="top-page-top-element-wrapper" href="#">
        <div class="top-page-top-element">
          <img src="/assets/images/online_application.svg" alt="logo" />
          <h3>より良いオンライン授業をするために（教員向け）</h3>
          <p>オンライン授業の応用的な活用方法まとめ。</p>
          <p class="watch-more">もっと見る</p>
        </div>
      </a>
      <a class="top-page-top-element-wrapper" href="change2021s/">
        <div class="top-page-top-element">
          <img src="/assets/images/system_2021.svg" alt="logo" />
          <h3>2021年春のシステム変更</h3>
          <p>2021年春から変更される情報教育システムまとめ。</p>
          <p class="watch-more">もっと見る</p>
        </div>
      </a>
      <a class="top-page-top-element-wrapper" href="#">
        <div class="top-page-top-element">
          <img src="/assets/images/support.svg" alt="logo" />
          <h3>サポート窓口</h3>
          <p>お問い合わせはこちらから。</p>
          <p class="watch-more">もっと見る</p>
        </div>
      </a>
    </div>
  </div>
-->
</div>

<div class="container">
  <h2>ピックアップ</h2>
  <div class="top__pick-up">
    <a href="/events/2021-03-17">2021/03/17 説明会:2021年度のオンライン授業に向けて ― 2020年の経験をふまえて</a>
    <a href="/good-practice/">グッドプラクティス</a>
    <a href="/events/2020-luncheon/">オンライン授業情報交換会</a>
  </div>

<!--
  <section class="top-page-section-wrapper">
    <h2>ピックアップ</h2>
    <div class="normal-card-wrapper">
      <a href="#" class="normal-card-anchor">
        <div class="normal-card">
          <img src="/assets/images/hoge.svg" alt="utelecon-logo" />
          <h3>グッドプラクティス</h3>
        </div>
      </a>
      <a href="#" class="normal-card-anchor">
        <div class="normal-card">
          <img src="/assets/images/hoge.svg" alt="utelecon-logo" />
          <h3>オンライン授業情報交換会</h3>
        </div>
      </a>
      <a href="#" class="normal-card-anchor">
        <div class="normal-card">
          <img src="/assets/images/hoge.svg" alt="utelecon-logo" />
          <h3>オンライン授業に関するアンケート結果</h3>
        </div>
      </a>
    </div>
  </section>
-->

  <h2>お知らせ</h2>
  <ul>
    <li><span style="color:blue;">2021/02/15:</span> <a href="change2021s/">「2021年春のシステム変更」</a>を公開しました．</li>
    <li><span style="color:blue;">2021/02/08:</span> (教員用) 2/10 12:10から<a href="events/2020-luncheon/">オンライン授業情報交換会(トピック：VR(仮想現実)教室で行う授業の実践例</a>を実施いたします．</li>
    <li><span style="color:blue;">2021/02/03:</span> 2/8以降，平日の10:20-16:45に<a href="supports/#zoom%E3%82%92%E7%94%A8%E3%81%84%E3%81%9F%E3%82%B5%E3%83%9D%E3%83%BC%E3%83%88">Zoomを用いたサポート</a>の試行を行っています．学生（コモンサポーター）がオペレータとして対応し，音声・チャット・画面共有を利用して質問・相談を受け付けます．</li>
    <li><span style="color:blue;">2021/02/03:</span> (教員用) 2/3 12:10から<a href="events/2020-luncheon/">オンライン授業情報交換会(トピック：グッドプラクティス事例(9) 実習形式の授業のオンライン化の工夫</a>を実施いたします．</li>
    <li><span style="color:blue;">2021/01/26:</span>「オンライン授業・Web会議ポータルサイト (utelecon)」のURLが変わりました．既存のリンクやブックマーク等は引き続き利用できます．<a href="/notice/20210126-domain-change">詳細はこちら</a></li>
  </ul>

  <h2>授業で使うシステム</h2>
  <div class="top__systems">
    <ul>
      <li><a href="https://www.u-tokyo.ac.jp/adm/dics/ja/account.html" target="_blank" rel="noopener">UTokyo Account</a></li>
      <li><a href="/systems/utas">UTAS</a></li>
      <li><a href="/systems/itc_lms">ITC-LMS</a></li>
      <li><a href="/zoom/">Zoom</a></li>
      <li><a href="/webex/">Webex</a></li>
      <li><a href="/systems/eccs_cloud_email">ECCSクラウドメール<small> (Google Workspace)</small></a></li>
      <li><a href="https://www.u-tokyo.ac.jp/adm/dics/ja/mslicense.html" target="_blank" rel="noopener">UTokyo Microsoft License<small> (Microsoft 365)</small></a></li>
      <li><a href="https://www.u-tokyo.ac.jp/adm/dics/ja/wifi.html" target="_blank" rel="noopener">UTokyo WiFi</a></li>
      <li><a href="https://www.ecc.u-tokyo.ac.jp/" target="_blank" rel="noopener">ECCS端末</a></li>
    </ul>
  </div>

<!--
  <section class="top-page-section-wrapper">
    <h2>授業で使うシステム</h2>
    <p class="top-page-section-description">
      授業で使うアプリ、ツールの使い方の説明をまとめています。
    </p>
    <div class="small-card-wrapper">
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>UTokyo Account</h3>
          <p>共通IDと呼ばれる数字10桁のアカウント</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>UTAS</h3>
          <p>シラバス登録・履修y査名簿確認・成績登録</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>ITC-LMS</h3>
          <p>授業資料の配布・課題の回収・小テストの実施など</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>Zoom</h3>
          <p>Web会議のためのツール</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>Webex</h3>
          <p>Web会議のためのツール</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>ECCSクラウドメール</h3>
          <p>Googleアカウントの利用（ファイルの閲覧・作成・共有）</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>Microsoft License</h3>
          <p>Microsoft Account（ファイルの閲覧・作成・共有）</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>UTokyo WiFi</h3>
          <p>キャンパス内で使えるWiFi</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>ECCS端末</h3>
          <p>キャンパス内に設置されたパソコン</p>
        </div>
      </a>
      <a href="#" class="small-card-anchor">
        <div class="small-card">
          <h3>その他</h3>
          <p>その他東大で利用可能なアプリケーション</p>
        </div>
      </a>
    </div>
  </section>
-->
</div>

{% include layouts/footer.html %}
