---
title: オンライン授業・Web会議 ポータルサイト @ 東京大学
layout: common
sitemap: false
---

{% include layouts/header.html is_top = true %}

<main id="content">

{% include sso.html %}

  <h2>まずはここから</h2>
  <div class="top__cards">
    <a href="/oc/">オンライン授業を受けるために<small>（学生向け）</small></a>
    <a href="/faculty_members/">オンライン授業を始めるために<small>（教員向け）</small></a>
    <a href="/online/">オンラインを活用するために</a>
    <a href="/supports/">サポート窓口</a>
    <a href="/change2021s/">2021年春のシステム変更</a>
  </div>

  <h2>ピックアップ</h2>
  <div class="top__cards">
    <a href="/events/2021-03-17">2021/03/17 説明会:2021年度のオンライン授業に向けて<small>（教員向け）</small></a>
    <a href="/events/2021-03-25">2021/03/25 オンライン講座「オンライン授業における Zoom の使い方」<small>（教員向け）</small></a>
    <a href="/good-practice/">グッドプラクティス</a>
    <a href="/events/luncheon/">オンライン授業情報交換会</a>
    <a href="/questionnaire/">オンライン授業に関するアンケート</a>
  </div>

  <h2>新着記事</h2>
  <div class="top__cards">
    <a href="/articles/google-form/">Googleフォームで小テストやアンケートを実施する</a>
    <a href="/articles/slack-communication/">Slackで学生とコミュニケーションを取る方法</a>
    <a href="/articles/zoom-data-traffic/">オンライン授業において Zoom の通信量を抑えるには</a>
  </div>

  <h2>お知らせ</h2>
  <ul>
	<li><span style="color:blue;">2021/06/30:</span> <a href="/notice/20210630-site-change">utelecon ポータルサイト更新のお知らせ</a></li>  
    <li><span style="color:blue;">2021/05/13:</span> <a href="/notice/utokyoaccount20210520">5/20 20時から20時30分 UTokyo Account 認証基盤メンテナンスによる認証サービス停止について</a></li>
    <li><span style="color:blue;">2021/04/09:</span> <a href="/notice/20210409-zoom-settings">オンライン授業などでのZoomの設定確認（認証・待機室・人数上限）のお願い</a></li>
    <li><span style="color:blue;">2021/04/01:</span> <a href="/questionnaire/">2020年度Sセメスターオンライン授業に関するアンケート結果概要を公開しました．</a></li>
    <li><span style="color:blue;">2021/03/30:</span> <a href="/notice/20210403-utnet">4/3～4にかけて，機器・回線移設作業に伴うシステムの停止が発生します．</a></li>
    <li><span style="color:blue;">2021/03/21:</span> （教員用）3/25 10:00から<a href="/events/2021-03-25">オンライン講座「オンライン授業における Zoom の使い方」</a>を開催いたします．</li>
    <li><span style="color:blue;">2021/03/15:</span> 東京大学の情報システムとそのサポート体制について新入生に向けて説明する資料<a href="/notice/getting_ready_for_online_classes_2021s.pdf">「オンライン授業を受けるために」 (PDF) </a>を作成しました．</li>
  </ul>

  <h2>東京大学のシステム</h2>
  <div class="top__systems">
    <ul>
      <li><a href="https://www.u-tokyo.ac.jp/adm/dics/ja/account.html" target="_blank" rel="noopener">UTokyo Account</a></li>
      <li><a href="/utas">UTAS</a></li>
      <li><a href="/itc_lms">ITC-LMS</a></li>
      <li><a href="/zoom/">Zoom</a></li>
      <li><a href="/webex/">Webex</a></li>
      <li><a href="/eccs_cloud_email">ECCSクラウドメール<small> (Google Workspace)</small></a></li>
      <li><a href="https://www.u-tokyo.ac.jp/adm/dics/ja/mslicense.html" target="_blank" rel="noopener">UTokyo Microsoft License<small> (Microsoft 365)</small></a></li>
      <li><a href="https://www.u-tokyo.ac.jp/adm/dics/ja/wifi.html" target="_blank" rel="noopener">UTokyo WiFi</a></li>
      <li><a href="https://www.ecc.u-tokyo.ac.jp/" target="_blank" rel="noopener">ECCS端末</a></li>
    </ul>
  </div>
</main>

{% include layouts/footer.html %}
