{% unless include.part == "important" %}
<p>東京大学では，情報セキュリティの向上のために様々な取り組みを行っており，それらは「<a href="https://univtokyo.sharepoint.com/sites/Security">東京大学の情報セキュリティ</a>」のページにまとめられています．その取り組みの一つとして，毎年度UTokyo Accountを持つ全ての方を対象に，情報セキュリティ教育を実施しています．
{%- if page.slug == "oc" %}新しく入学された方はまずこの情報セキュリティ教育を受講してください．
{%- else %}新しく着任された方はまずこの情報セキュリティ教育を受講してください．{%- endif %}</p>
<p>具体的な受講の手順などについては<a href="https://univtokyo.sharepoint.com/sites/Security/SitePages/Information_Security_Education.aspx">情報セキュリティ教育</a>のページを確認してください．受講が完了するまで一部のシステム（<a href="/utokyo_wifi">UTokyo Wi-Fi</a>，<a href="/utokyo_vpn">UTokyo VPN</a>，<a href="/slack">UTokyo Slack</a>）は利用できません（<a href="/utokyo_vpn">UTokyo VPN</a>，<a href="/slack">UTokyo Slack</a>については，<a href="/utokyo_account/mfa">UTokyo Accountの多要素認証の有効化</a>も別途必要です）．
</p>
{% endunless %}
{% unless include.part == "explanation" %}
<ul>
  <li>東京大学では，情報セキュリティの向上のため，毎年度UTokyo Accountを持つ全ての方を対象に，情報セキュリティ教育を実施しています．新しく入学された方はまずこの情報セキュリティ教育を受講してください．</li>
</ul>
<ol>
  <li>「<a href="https://univtokyo.sharepoint.com/sites/Security/SitePages/Information_Security_Education.aspx">情報セキュリティ教育</a>」のページに記載の手順で受講してください．</li>
</ol>
<ul>
  <li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
{% endunless %}
