---
---

<li>
  Access <a
    href="https://utas.adm.u-tokyo.ac.jp/campusweb/campusportal.do?locale=en_US"
    >UTAS</a
  > and click "Login".
</li>
<li>
  Unless you have already signed in, the UTokyo Account sign-in page will be
  displayed. Please sign in.
</li>
