---
interface Props {
  pageSlug?: string;
}

const { pageSlug } = Astro.props;
---

<details>
  <summary>Troubleshooting guide</summary>
  <ul>
    <li>
      <strong
        >Error message "[Error]
        あなたは現在このシステムを利用することができません (You are currently
        unable to use this system)"</strong
      >:
      <ul>
        {
          pageSlug !== "faculty_members" && (
            <li>
              If your affiliation has changed (e.g., from undergraduate to
              graduate school), you will temporarily not be able to access UTAS.
              Please try logging in again later.
            </li>
          )
        }
        {
          pageSlug !== "oc" && (
            <li>
              Some faculty members (mainly those who do not teach classes) do
              not have UTAS accounts registered. Please consult the
              administrative office of your department.
            </li>
          )
        }
        <li>
          If the above case does not apply, please consult your faculty or
          department.
        </li>
      </ul>
    </li>
  </ul>
  If the issue is still not resolved, please consult the <a href="/en/support/"
    >Technical Support Desk</a
  >.
</details>
