---
import UtacPasswordNotice from "./20230321UtacPasswordNotice.astro";

interface Props {
  pageSlug?: string;
}

const { pageSlug } = Astro.props;
---

{
  pageSlug === "oc" && (
    <ul>
      <li>
        <a href="/oc/movies#utokyo_account">手順動画</a>
      </li>
    </ul>
  )
}

<ol>
  <li>
    所属の学部・研究科等から，初期パスワードが記載された「パスワード通知書」を受け取ってください
    {
      pageSlug === "oc" && (
        <>
          ．授業開始に十分間に合うように配布されるはずですが，不明な場合は所属の学部・研究科等に問い合わせてみてください（※学部1年生には3月20日から
          <a href="https://utas-ew.adm.u-tokyo.ac.jp/">
            合格発表の際に情報登録を行ったWebシステム
          </a>
          で配布されます）．
        </>
      )
    }
    {
      pageSlug === "faculty_members" && (
        <>
          ．授業に必要な教員には発行されているはずですが，もらっていない場合は所属部局の事務に問い合わせてください．
        </>
      )
    }
    {
      pageSlug === "utokyo_account" && (
        <>
          ．
          <ul>
            <li>
              <strong>学生</strong>
              ：授業開始に十分間に合うように配布されるはずですが，不明な場合は所属の学部・研究科等に問い合わせてみてください（※学部1年生には「
              <a href="https://utas-ew.adm.u-tokyo.ac.jp/">
                合格者情報登録システム
              </a>
              」で配布されます）
            </li>
            <li>
              <strong>教職員</strong>
              ：授業に必要な教員には発行されているはずですが，もらっていない場合は所属部局の事務に問い合わせてください．
            </li>
          </ul>
        </>
      )
    }
    {
      !["oc", "faculty_members", "utokyo_account"].includes(
        pageSlug as string
      ) && (
        <>
          （もらっていない場合は，所属の学部・研究科等に問い合わせてみてください）．
        </>
      )
    }
  </li>
  {
    pageSlug === "oc" ? (
      <li>
        <a href="https://utacm.adm.u-tokyo.ac.jp/webmtn/LoginServlet">
          UTokyo Account利用者メニュー
        </a>
        に，「パスワード通知書」に記載されたユーザ名とパスワードでログインしてください．
      </li>
    ) : (
      <li>
        以下の「UTokyo
        Account利用者メニュー」に，「パスワード通知書」に記載されたユーザ名とパスワードでログインしてください．
        <b class="box center">
          <a href="https://utacm.adm.u-tokyo.ac.jp/webmtn/LoginServlet">
            UTokyo Account利用者メニュー
          </a>
        </b>
      </li>
    )
  }
  <li>
    左上の「パスワード変更」を押して，パスワードを変更してください（初期パスワードのままでは，各種サービスを利用することができません）．新しいパスワードを決める際には，パスワードの強度を示す表示が「強い」または「とても強い」になるようにしてください．
    <UtacPasswordNotice />
  </li>
</ol>
<ul>
  <li>
    この手順がうまくいかないときは<a href="/support/">サポート窓口</a
    >に相談してください．
  </li>
</ul>
