---
---

<li>
  <strong>作業：「多要素認証」を有効化する</strong>
  <ul>
    <li>
      「多要素認証 (Multi-Factor Authentication,
      MFA)」とは，アカウントへのサインイン時に，パスワードに加えて，SMSや専用のアプリなどで本人確認を行う認証方法です．UTokyo
      Accountでの多要素認証の有効化は，現時点においては必須ではありませんが，セキュリティの観点から有効化することを強く推奨しています．
    </li>
  </ul>
  <ol>
    <li>
      「<a href="/utokyo_account/mfa/initial"
        >UTokyo Account多要素認証の初期設定手順</a
      >」のページに記載の手順で，有効化を行ってください．
    </li>
  </ol>
  <ul>
    <li>
      この手順がうまくいかないときは<a href="/support/">サポート窓口</a
      >に相談してください．
    </li>
  </ul>
</li>
