<strong class="box--alert">
2023/05/10(水) 21:00～24:00にUTNET基幹ルータの再度の緊急メンテナンスを行うため，学内のネットワークおよび一部のシステムが停止します．<a href="https://www.nc.u-tokyo.ac.jp/plannedwork/20230510-3">詳細はこちらのお知らせ（学内ネットワーク限定・停止中はアクセス不可）をご覧ください．</a>ご迷惑をおかけしますことをお詫びいたします．<br>
Due to emergency maintenance of the UTNET backbone router again on Wednesday, 2023/05/10 from 21:00 to 24:00, the campus network and some systems will be down. <a href="https://www.nc.u-tokyo.ac.jp/plannedwork/20230510-3">For details, please refer to this notice (limited to the campus network; not accessible during the outage; in Japanese only).</a> We apologize for any inconvenience caused.
</strong>
