---
interface Props {
  pageSlug?: string;
}

const { pageSlug } = Astro.props;
---

<ul class="procedure">
  <li>
    <strong>Check: Sign in</strong>
    <ol>
      <li>
        Go to <a href="https://utelecon.webex.com/"
          >the Webex page of the University of Tokyo</a
        > and press "Sign In" on the upper right.
      </li>
      <li>
        Enter your 10-digit common ID (UTokyo Account username) followed by <code
          >@utac.u-tokyo.ac.jp</code
        > to indicate that you are from the University of Tokyo (eg. <code
          >1234567890@utac.u-tokyo.ac.jp</code
        >).
      </li>
      <li>
        Enter your UTokyo Account information when asked to enter your
        University of Tokyo username and password (this may not appear if you
        have already entered your information).
      </li>
      <li>
        Confirm the screen appears with your name and the "Start a Meeting"
        button.
      </li>
    </ol>
    <ul>
      <li>
        If this procedure does not work, please consult the <a
          href="/en/support/">support desk</a
        >.
      </li>
    </ul>
  </li>
  <li>
    <strong>Task: Install the application on your computer</strong>
    <ol>
      <li>
        Go to the <a
          href="https://utelecon.webex.com/webappng/sites/utelecon/dashboard/download"
          >Webex download page</a
        >.
      </li>
      <li>
        At the top of the page, click "Download" in the "Cisco Webex Meetings
        desktop app" section.
      </li>
      <li>
        The subsequent steps will vary depending on the case. In some cases, the
        installation will proceed automatically, while in others, you may need
        to press the confirmation button or open the downloaded file by
        yourself.
      </li>
    </ol>
    <ul>
      <li>
        If this procedure does not work, please consult the <a
          href="/en/support/">support desk</a
        >.
      </li>
    </ul>
  </li>
  <li>
    <strong>Optional task: Install the application on your phone</strong>
    <ol>
      <li>
        Install the app from <a
          href="https://play.google.com/store/apps/details?id=com.cisco.webex.meetings"
          >Google Play</a
        > for Android users, or from <a
          href="https://itunes.apple.com/us/app/cisco-webex-meetings/id298844386"
          >App Store</a
        > for iPhone users.
      </li>
    </ol>
  </li>
  <li>
    <strong>Check: Enter the Todai accounts restricted meeting room</strong>
    <ol>
      <li>
        In the meeting room, your microphone audio and camera video may be sent
        to other people (in the test conference room used here; this does not
        happen just by entering, but it may happen as you try various things).
        If you are concerned about this, please do so in a situation where it is
        safe to send audio and video.
      </li>
      <li>
        Access the test meeting room via the <a
          href="https://itc-lms.ecc.u-tokyo.ac.jp/lms/course?idnumber=20197J919010V02"
          >ITC-LMS test cource</a
        >.
      </li>
      <li>
        You may be asked to click a confirmation button or select an app to
        open.
      </li>
      <li>
        When the Webex app opens and you see a green button that says "Join
        Meeting," press that button.
      </li>
      <li>
        If you view "Start Video" or "Unmute" at the bottom of the screen, you
        are already in the meeting room.
      </li>
    </ol>
    <ul>
      <li>
        <details>
          <summary>Help for when this procedure does not work</summary>
          <ul>
            <li>
              <strong
                >If asked to install the application when you access the URL of
                the conference room, or if the installation of the application
                starts</strong
              >: This happens when the application is not installed properly.
              Please try to reinstall the application, and if it works, access
              the URL once again.
            </li>
          </ul>
          If this does not work, please contact the <a href="/en/support/"
            >support desk</a
          >.
        </details>
      </li>
    </ul>
  </li>
  <li>
    <strong>Optional task: Sign in to the app</strong>{
      pageSlug == "oc" && (
        <>(useful for those who will hold their own meetings, etc.)</>
      )
    }
    <ol>
      <li>Launch the Webex app and click the "Sign In" button.</li>
      <li>
        Enter your 10-digit common ID (UTokyo Account username) followed by <code
          >@utac.u-tokyo.ac.jp</code
        > to indicate that you are from the University of Tokyo (eg. <code
          >1234567890@utac.u-tokyo.ac.jp</code
        >).
      </li>
      <li>
        Enter your UTokyo Account information on the screen that asks you to
        enter your University of Tokyo username and password like UTAS (this may
        not appear if you have already entered your information).
      </li>
      <li>
        Confirm you see a screen with your name and the "Start Meeting" button.
      </li>
    </ol>
  </li>
  {
    pageSlug != "oc" && (
      <li>
        <strong>Exercise: Create a meeting room</strong>
        <ol>
          <li>
            Go to{" "}
            <a href="https://utelecon.webex.com/">
              the Webex page of the University of Tokyo
            </a>
            . If you are not signed in, please do so.
          </li>
          <li>
            Click the "Schedule" button (at the right of the "Start a Meeting"
            button).
          </li>
          <li>
            The screen to set up the details of the meeting room will appear. As
            this is an exercise, skip the items you are uncertain, and click
            "Save" at the bottom.
          </li>
          <li>
            You will be directed to a screen where you can review the
            information of the created conference room. The URL of the room is
            displayed in the "Invite Link" column, and you can enter the room
            from this URL.
          </li>
        </ol>
        <ul>
          <li>
            If this procedure does not work, please consult the{" "}
            <a href="/en/support/">support desk</a>.
          </li>
        </ul>
      </li>
    )
  }
</ul>
