* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

a {
  color: $body-link-color;
  text-decoration: none;
}

@import "layout/main";
@import "layout/header";
@import "layout/footer";
