.top-h1 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 56rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  margin: 1em 0 2em;
  a {
    display: block;
    border: 1px solid $black-gray;
    border-left: 4px solid $heading-color;
    font-weight: bold;
    padding: 0.5em;
  }
}

.top__systems {
  column-count: 2;
  @media (max-width: 48rem) {
    column-count: auto;
  }
  li {
    break-inside: avoid;
  }
}
