h1 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

header {
  display: contents;
}

.top__cards {
  grid-row: 3 / 4;
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (min-width: 96rem) {
    grid-template-columns: repeat(5, 1fr);
    max-width: 120rem;
    justify-self: center;
  }
  @media (max-width: 56rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
  grid-auto-rows: 1fr;
  grid-gap: 1em;

  padding: 2em;
  border-top: 2px solid white;

  color: black;
  @import "components/link";
  font-size: 1.25rem;

  a {
    background-color: white;
    display: block;
    border: 1px solid $black-gray;
    border-left: 4px solid $heading-color;
    font-weight: bold;
    padding: 0.5em;
  }
}

.container {
  word-wrap: break-word;
  text-align: justify;
  @media (max-width: 48rem) {
    text-align: left;
  }

  color: $text-color;
  @import "components/link";
  font-size: 1.125rem;

  padding: 2rem 4rem;

  @media (min-width: 64rem) {
    max-width: 64rem;
    margin: 0 auto;
  }
  @media (max-width: 48rem) {
    padding: 2rem 2rem;
  }
  @media (max-width: 40rem) {
    font-size: 1rem;
  }
  @media (max-width: 32rem) {
    padding: 2rem 1rem;
  }

  :first-child {
    margin-top: 0;
  }

  @import "components/headings";
}

.top__pick-up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 56rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  margin: 1em 0 2em;
  a {
    display: block;
    border: 1px solid $black-gray;
    border-left: 4px solid $heading-color;
    font-weight: bold;
    padding: 0.5em;
  }
}

/*
.top__pick-up {
  display: flex;
  flex-wrap: wrap;
  a {
    display: block;
    flex: auto;
    border: 1px solid $black-gray;
    border-radius: 1em;
    width: 16em;
    height: 8em;
    font-weight: bold;
    padding: 0.5em;
    margin: 0 0.5em;
  }
}
*/

.top-page-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  a.top-page-top-element-wrapper {
    display: block;
    margin: 5px;
  }
  .top-page-top-element {
    width: 250px;
    height: 250px;
    border: #ececec solid thin;
    border-top: $header-bg-color medium solid;
    box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.4);
    position: relative;
    color: black !important;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.4);
    }
    img {
      width: 250px;
      height: 100px;
      padding: 10px;
      object-fit: contain;
      border-bottom: #ececec thin solid;
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      padding: 2px 10px;
      color: black;
    }
    p {
      font-size: 14px;
      margin: 0;
      padding: 0 10px 5px;
    }
    .watch-more {
      position: absolute;
      top: 210px;
      right: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.top-page-section-wrapper {
  padding: 40px 0;
  color: black;
  /*
  h2 {
    border-left: thick solid $header-bg-color-secondary;
    margin: 40px 0;
    padding: 0 0 0 20px;
    font-weight: 700;
    color: black;
  }
  */
  table {
    box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.4);
    color: black;
    border-left: medium solid $header-bg-color;
  }
}

.about_this_site {
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0 30px;
}

.small-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .small-card-anchor {
    display: block;
    margin: 10px;
    &:nth-child(odd) h3 {
      background-color: $header-bg-color;
    }
    &:nth-child(even) h3 {
      background-color: $header-bg-color-secondary;
    }
  }
  .small-card {
    box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.4);
    border: #ececec solid thin;
    width: 200px;
    height: 150px;
    &:hover {
      transition: 0.3s;
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
    }
    h3 {
      font-size: 18px;
      margin: 0;
      font-weight: 700;
      padding: 10px 10px 5px;
      color: white;
    }
    p {
      font-size: 14px;
      margin: 0;
      padding: 10px;
      color: black;
    }
  }
}

.normal-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .normal-card-anchor {
    display: block;
    margin: 10px;
  }
  .normal-card {
    box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.4);
    border: #ececec solid thin;
    width: 200px;
    height: 160px;
    &:hover {
      transition: 0.3s;
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
    }
    img {
      height: 90px;
      display: block;
      padding: 10px 10px 0;
      margin: auto;
      object-fit: contain;
    }
    h3 {
      font-size: 16px;
      margin: 0;
      font-weight: 700;
      padding: 5px 10px;
      color: black;
    }
  }
}

@media (max-width: 801px) {
  .top-page-top-wrapper {
    justify-content: center;
    .top-page-top-element {
      width: 150px;
      height: 200px;
      img {
        width: 150px;
        height: 60px;
        object-fit: contain;
        border-bottom: #ececec thin solid;
      }
      h3 {
        font-size: 14px;
        color: black;
      }
      p {
        font-size: 12px;
      }
      .watch-more {
        display: none;
      }
    }
  }

  .small-card-wrapper {
    justify-content: center;
  }
}
