@import "normalize";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
}

@import "components/cayman/jekyll-theme-cayman";
@import "layout/main";
@import "layout/header";
@import "components/box";
