@import "../../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans Variable", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@import "cayman/jekyll-theme-cayman";
@import "visually-hidden";
@import "main";
@import "margin";
@import "external-link";
