@import "color";

:is(main) {
  word-wrap: break-word;
  :lang(ja) {
    @media (max-width: 640px) {
      text-align: left;
    }
  }
  :lang(en) {
    hyphens: auto;
  }
  font-size: 1.125rem;
  color: $text-color;

  @import "components/box";
  @import "components/card";
  @import "components/code";
  @import "components/footnotes";
  @import "components/headings";
  @import "components/img";
  @import "components/link";
  @import "components/lists";
  @import "components/mfa";
  @import "components/summary";
  @import "components/table";
  @import "components/top";
  @import "components/utils";

  padding: 2rem 4rem;

  @media (min-width: 1024px) {
    max-width: 64rem;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    padding: 2rem 2rem;
  }
  @media (max-width: 640px) {
    font-size: 1rem;
  }
  @media (max-width: 512px) {
    padding: 2rem 1rem;
  }

  :first-child {
    margin-top: 0;
  }
}
