@use "color";
@use "sass:meta";

:is(main) {
  word-wrap: break-word;
  font-size: 1.125rem;
  color: color.$text-color;
  padding: 2rem 4rem;

  &:lang(ja) {
    text-align: justify;

    @media (max-width: 640px) {
      text-align: left;
    }
  }

  &:lang(en) {
    hyphens: auto;
  }

  @include meta.load-css("components");

  @media (min-width: 1024px) {
    max-width: 64rem;
    margin: 0 auto;

    &[data-toc="true"] {
      max-width: 84rem;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 2rem;
  }

  @media (max-width: 640px) {
    font-size: 1rem;
  }

  @media (max-width: 512px) {
    padding: 2rem 1rem;
  }

  > :first-child {
    margin-top: 0;
  }
}
