blockquote, figure, ol, p, ul, .box, .box--alert, .box--important {
  margin-top: 1em;
  margin-bottom: 1em;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  :is(ol, ul) & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

:is(.box, .box--alert, .box--important) p {
  margin-top: 0;
  margin-bottom: 0;
}

.box, .box--alert, .box--important {
  :is(ol, ul) & + & {
    margin-top: 1em;
  }
}
