@use "color";
@use "components/card";

.cards {
  text-align: left;
}

.largecards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1em;
  margin: 1em 0;
  @media (max-width: 896px) {
    grid-auto-flow: row;
  }

  & > &__card {
    & > a {
      @extend .card;

      display: flex;
      align-items: center;
      position: relative;

      .material-icon,
      .font-awesome {
        width: 5rem;
        flex-shrink: 0;
        margin: 1.5rem 1rem 1.5rem 1rem;

        @media (max-width: 896px) {
          width: 3rem;
          margin: 0.5rem 1rem 0.5rem 0.5rem;
        }
      }

      .font-awesome {
        padding: 0.1rem;
      }

      .title {
        margin-left: auto;
        margin-right: 0.5rem;

        &:lang(ja) {
          flex-shrink: 0;
        }

        @media (max-width: 896px) {
          margin-left: 0;
          margin-right: auto;
        }
      }

      &::after {
        flex-shrink: 0;
        flex-grow: 1;
        max-width: 2rem;
        text-align: right;
        content: "arrow_forward_ios";
        font-family: "Material Icons";
        font-weight: bold;
        color: color.$heading-color;
      }
    }
  }
}

.largecards + h2 {
  margin-top: 1.6em;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  @media (max-width: 1024px) {
    grid-template-columns: none;
    gap: 0;
  }

  &__column > .cards {
    grid-template-columns: none;
    grid-auto-rows: minmax(2.5lh, 1fr);
  }

  &__column li {
    font-size: 1rem;
  }
}

.top__systems > .cards {
  grid-template-columns: repeat(8, 1fr);
  gap: 0.5em;
  @media (max-width: 896px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
  }

  & > li > a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: color.$black-gray;
    text-align: center;

    font-size: 0.625rem;
    line-height: 0.75rem;
    padding: 0.125rem 0.125rem;

    // ロゴ画像・Material Icons
    & > img,
    & > span.material-icon {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
    & > img {
      max-height: 1.25rem;
      margin: auto;
      @media (max-width: 896px) {
        max-height: 1rem;
      }
    }
    & > span.material-icon > svg {
      fill: color.$link-color;
      height: 1.75rem;
      @media (max-width: 896px) {
        height: 1.25rem;
      }
    }

    > .external-link:last-child {
      display: none;
    }
  }

  & > li:last-child {
    display: block;
    grid-column: -2 / -1;
    justify-self: end;
    align-self: end;

    & > a {
      display: inline;
      color: revert;
      border: revert;
      background-color: revert;
      font-weight: revert;
      padding: 0;

      &:hover {
        box-shadow: revert;
        text-decoration: revert;
      }
    }
  }
}

ul.date_list {
  list-style-type: none;

  & .date {
    margin-left: -1rem;
    font-size: large;
    font-weight: bold;
  }

  &.localized .date {
    margin-right: 1rem;
  }
}

.systems-link {
  text-align: right;
}
