@import "color";
@import "components/card.scss";

.cards {
  text-align: left;
}

.largecards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 1em;
  margin: 1em 0;
  @media (max-width: 896px) {
    grid-auto-flow: row;
  }

  & > &__card {
    position: relative;

    & > a {
      @extend .card;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 4rem;
      @media (max-width: 896px) {
        padding-right: 2em;
        justify-content: unset;
      }

      .material-icon,
      .font-awesome {
        width: 5rem;
        flex-shrink: 0;
        margin: 1.5rem 1rem 1.5rem 1rem;

        @media (max-width: 896px) {
          width: 3rem;
          margin: 0.5rem 1rem 0.5rem 0.5rem;
        }
      }

      .font-awesome {
        padding: 0.1rem;
      }

      & > .title {
        &:lang(ja) {
          flex-shrink: 0;
        }
      }

      &::after {
        position: absolute;
        content: "arrow_forward_ios";
        font-family: "Material Icons";
        font-weight: bold;
        color: $heading-color;
        right: 0.5em;
      }
    }
  }
}

.largecards + h2 {
  margin-top: 1.6em;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__column > .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(2.5lh, 1fr);
  }

  &__column li {
    font-size: 1rem;
  }
}

.top__systems > .cards {
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 896px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }

  & > li > a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: $black-gray;
    text-align: center;

    // ロゴ画像・Material Icons
    & > img,
    & > span.material-icon {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
    & > img {
      max-height: 2.25rem;
      margin: auto;
      padding: 0.25rem;
      @media (max-width: 896px) {
        max-height: 1.5rem;
      }
    }
    & > span.material-icon > svg {
      fill: $link-color;
      height: 3rem;
      @media (max-width: 896px) {
        height: 1.5rem;
      }
    }

    > .external-link:last-child {
      display: none;
    }
  }

  & > li:last-child {
    display: flex;
    grid-column: -2 / -1;
    justify-content: end;
    align-items: flex-end;

    & > a {
      display: revert;
      color: revert;
      border: revert;
      background-color: revert;
      font-weight: revert;
      height: revert;
      width: revert;
      padding: 0;

      &:hover {
        box-shadow: revert;
        text-decoration: revert;
      }
    }
  }
}

ul.date_list {
  list-style-type: none;

  & .date {
    margin-left: -1rem;
    font-size: large;
    font-weight: bold;
  }

  &.localized .date {
    margin-right: 1rem;
  }
}

.systems-link {
  text-align: right;
}
