---
import NotificationSteps from "./NotificationSteps.astro";
import LoginSteps from "./LoginSteps.astro";
import NotificationHelp from "./NotificationHelp.astro";

interface Props {
  pageSlug?: string;
  includePart?: string;
}

const { pageSlug, includePart } = Astro.props;
---

{
  includePart == "login" ? (
    <LoginSteps />
  ) : includePart == "notification" ? (
    <>
      <NotificationSteps />
      <NotificationHelp />
    </>
  ) : (
    <>
      <ul class="procedure">
        <li>
          <strong>Check: Sign in to ITC-LMS</strong>
          <LoginSteps />
          <ul>
            <li>
              If this procedure does not work, please consult the{" "}
              <a href="/en/support/">Technical Support Desk</a>.
            </li>
          </ul>
        </li>
        {pageSlug == "oc" && (
          <>
            <li>
              <strong>
                Optional task: Link ITC-LMS with LINE notification
              </strong>
              <NotificationSteps />
              <ul>
                <li>
                  <NotificationHelp />
                </li>
              </ul>
            </li>
          </>
        )}
      </ul>
    </>
  )
}
