---
---

<ol>
  <li>
    Go to <a href="https://itc-lms.ecc.u-tokyo.ac.jp/login">ITC-LMS</a> and click
    "Login".
  </li>
  <li>
    Unless you have already signed in, the UTokyo Account sign-in page will be
    displayed. Please sign in.
  </li>
</ol>
