---
---

<ol>
  <li>After logging in, click "Settings" on the upper right.</li>
  <li>
    Set up how to receive notifications regarding class material updates and
    class announcements. To receive notifications via LINE, click "Connect LINE"
    in the "SNS Account" field to link your LINE account. Thereafter, select
    “Receive by LINE” in the “Notice Information” field.
  </li>
</ol>
