---
---

<details>
  <summary>Troubleshooting guide</summary>
  <ul>
    <li>
      <strong
        >The "Linked e-mail address" in the "Forwarding e-mail address" field is
        not displayed</strong
      >: This might be due to your email address registered in UTAS not being
      reflected in the ITC-LMS yet. It takes a day for it to be reflected;
      please try again on the next day.
    </li>
  </ul>
  If the issue is still not resolved, please consult the <a href="/en/support/"
    >Technical Support Desk</a
  >.
</details>
