---
import Tabs from "@components/utils/tabs/Tabs";
---

<Tabs client:visible queryKey="os" defaultTab="pleaseSelect">
  <div slot="panel.pleaseSelect">
    上のタブからOSを選択してください．
  </div>
  <div slot="tab.windows">
    Windows
  </div>
  <div slot="panel.windows">
    <slot name="windows" />
  </div>
  <div slot="tab.mac">
    Mac
  </div>
  <div slot="panel.mac">
    <slot name="mac" />
  </div>
</Tabs>
