---
import Tabs from "@components/utils/tabs/Tabs";
---

<Tabs queryKey="os" client:visible>
  <div slot="panel.default">
    上のタブからOSを選択してください．
  </div>
  <div slot="tab.windows">
    Windows
  </div>
  <div slot="panel.windows">
    <slot name="windows" />
  </div>
  <div slot="tab.mac">
    Mac
  </div>
  <div slot="panel.mac">
    <slot name="mac" />
  </div>
</Tabs>
