---
import path from "path";
import fs from "fs/promises";
import matter from "gray-matter";
import type { Frontmatter } from "@layouts/Layout.astro";
import If from "@components/utils/If.astro";

interface eventInformation {
  date: Date;
  title: string;
  href: string;
}

async function getEventInformation(eventInfoPath: string): Promise<eventInformation> {
  const dateMatch = path.basename(eventInfoPath).match(/^([0-9]{4}-[0-9]{2}-[0-9]{2})/)

  if (dateMatch === null) throw new Error;

  const content = await fs.readFile(eventInfoPath).catch((reason: NodeJS.ErrnoException) => {
    if (reason.code === "EISDIR")
      return fs.readFile(path.join(eventInfoPath, "index.md"));
    else
      throw reason;
  }).catch((reason: NodeJS.ErrnoException) => {
    if (reason.code === "ENOENT")
      return fs.readFile(path.join(eventInfoPath, "index.mdx"));
    else
      throw reason;
  });

  const frontmatter = matter(content).data as Frontmatter;

  return {
    date: new Date(dateMatch[0]),
    title: frontmatter.title.replace(/^[0-9]{4}([/-])[0-9]{1,2}\1[0-9]{1,2} */, ""),
    href: eventInfoPath.replace(/^(.\/)?src\/pages/, ""),
  };
}

const eventsInfoDir = "./src/pages/events";

const allEventsList = await fs.readdir(eventsInfoDir).then(async (childNames) =>
  (await Promise.allSettled(
    childNames.map((name) => getEventInformation(path.join(eventsInfoDir, name)))
  )).flatMap((result) =>
    result.status === "fulfilled" ? [result.value] : []
  )
);

const eventsList = allEventsList.filter((eventInfo) =>
  Math.abs(Math.floor((eventInfo.date.getTime() - new Date().getTime()) / (1000 * 60 * 60 * 24))) < 180
);
---

<If cond={eventsList.length > 0}>
<h2>説明会情報</h2>

<ul class="date_list">
  {
    eventsList.map(({ date, title, href }) => (
      <li>
        <span class="date">{date.toISOString().split("T")[0]}</span>
        <span><a href={href}>{title}</a></span>
      </li>
    ))
  }
</ul>

<style lang="scss">
  @import "@styles/color.scss";

  .date {
    display: inline-block;
    width: 6rem;
    color: $heading-color;
    margin-left: -1rem;
    margin-right: 5px;
    font-weight: bold;
  }
</style>
</If>
