<p>以下から設定したい本人確認方法を選んでください．</p>

<style lang="scss">
  @import "@styles/color.scss";

  p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: $heading-color;
    margin: 0;
  }
</style>