<span class="button">
  <span></span>
</span>

<style lang="scss">
  @import "@styles/color.scss";
  span.button {
    position: absolute;
    border: 2px solid $black-gray;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    inset: 0;
    /* `!important`` in favor of `:is(main) :first-child { margin-top: 0; }` */
    margin: auto !important;

    > span {
      position: absolute;
      border: 2px solid white;
      border-radius: 50%;
      background-color: white;
      width: 100%;
      height: 100%;
    }

    &:has(+ input[type="radio"]:checked) > span {
      background-color: $black-gray;
    }

    &:has(+ input[type="radio"]:disabled) {
      opacity: 0;
    }
  }
</style>
