---
export interface Props {
  lang: keyof typeof definitions;
}

const definitions = {
  ja: [
    {
      title: "メールフォーム",
      url: "/support/email-form",
      file: `email-form.ja.md`,
    },
    {
      title: "チャット",
      url: "/support/chat",
      file: `chat.ja.md`,
    },
    {
      title: "オンライン通話",
      url: "/support/online-call",
      file: `online-call.ja.md`,
    },
  ],
  en: [
    {
      title: "Email form",
      url: "/en/support/email-form",
      file: `email-form.en.md`,
    },
    {
      title: "Chat",
      url: "/en/support/chat",
      file: `chat.en.md`,
    },
    {
      title: "Online call",
      url: "/en/support/online-call",
      file: `online-call.en.md`,
    },
  ],
};

const markdownFiles = await Astro.glob("./*.md");
const { lang } = Astro.props;
const lists = definitions[lang].map((def) => ({
  ...def,
  Content:
    markdownFiles.find((file) => file.file.endsWith(def.file))?.Content ??
    Fragment,
}));
---

<ol class="list">
  {
    lists.map((item) => {
      const Content = item.Content;
      return (
        <li>
          <a href={item.url} class="button">
            <h4>{item.title}</h4>
            <div>
              <Content />
            </div>
          </a>
        </li>
      );
    })
  }
</ol>

<style lang="scss">
  @import "@styles/color.scss";

  $main-color: $heading-color;
  $sub-color: white;

  .list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    list-style: none;
    padding: 0;
    & > li {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }
  .button {
    display: block;
    width: 100%;
    border: 1px solid $main-color;
    border-bottom-width: 4px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $sub-color;
    h4 {
      margin: 0;
      padding: 0;
      border: none;
      color: inherit;
    }
    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $black-gray;
      &::after {
        display: block;
        content: "arrow_forward_ios";
        text-align: right;
        font-family: "Material Icons";
        font-weight: bold;
        color: $main-color;
      }
    }
    &:hover {
      background-color: $main-color;
      color: $sub-color;
      transition: all 0.2s ease;
      &:link {
        text-decoration: none;
      }
      h4, div {
        color: $sub-color;
        transition: all 0.2s ease;
        &::after {
          color: $sub-color;
          transition: all 0.2s ease;
        }
      }
    }
  }
</style>
