---
import { FontAwesomeIcon as FAIcon, type FontAwesomeIconProps } from "@fortawesome/react-fontawesome";

interface Props extends FontAwesomeIconProps {
    class?: string;
}

const { class: className, ...props } = Astro.props;
---

<span class:list={["font-awesome", className]}>{
    /* DO NOT remove this comment */
    }<!--! Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->{
    }<FAIcon {...props} />{
}</span>

<style>
</style>
