{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

<ul>
{% if page.slug != "faculty_members" %}
<li><strong>
    <font color="red">
      Notice: You can not take an exam for the ECCS Online New User Information seminar as mentioned in the following task due
      to system issues. We are fixing the trouble now. We apologize for your inconvenience. (Mar. 23, 2021)
      </font>
  </strong></li>
<li><strong>Task: Take the "New User Information Seminar"</strong>{% if page.slug != "oc" %} (for students){% endif %}
<ol>
<li>Please log in to <a href="https://itc-lms.ecc.u-tokyo.ac.jp/login">ITC-LMS</a></li>
<li>Select "ECCS Seminar" in the "Short Course" section at the bottom.</li>
<li>Follow the instructions to view the videos and take the test.</li>
<li>After answering the test, you will receive a "Passed" message. If you fail the test, please retake the test.</li>
</ol>
<ul>
<li>
<details>
  <summary>Help for when this procedure does not work</summary>
  <ul>
    <li><strong>If neither "Passed" nor "Failed" is displayed after the test</strong>: Go to the <a href="https://itc-lms.ecc.u-tokyo.ac.jp/">top page of ITC-LMS</a>. If "ECCS Seminar" is no longer displayed, you have passed the test.</li>
  </ul>
  If this does not work, please contact the <a href="/en/supports/">support desk</a>.
</details>
</li>
</ul>
</li>
{% endif %}
{% if page.slug != "oc" %}
<li><strong>Task: Apply for system user permission</strong>{% if page.slug != "faculty_members" %} (for faculty members){% endif %}
<ol>
<li>Please refer to the ECCS page "<a href="https://www.ecc.u-tokyo.ac.jp/en/announcement/2020/03/02_3127.html">New Account Application (for Academic and Administrative Staff, Researchers, etc.)</a>".</li>
</ol>
</li>
{% endif %}
<li><strong>Exercise: Log in</strong>
<ul>
<li>This procedure is supposed to be carried with ECCS terminals installed in <a href="https://userguide.ecc.u-tokyo.ac.jp/current/C3BCCBF6A4CEC7DBC3D6C5F92FC3BCCBF6A4CEC7DBC3D6.html">specific locations on campus</a>.</li>
</ul>
<ol>
{% if page.slug != "faculty_members" %}
<li>{% if page.slug != "oc" %}(For studetns) {% endif %}It will take an hour for the system to update after you have passed the "New User Information Seminar".</li>
{% endif %}
<li>Press the power button on the ECCS terminal to turn it on.</li>
<li>Enter your UTokyo Account user name (10-digit number) and password.</li>
</ol>
<ul>
<li>If you have any trouble with this procedure, please consult the student <a href="https://www.sodan.ecc.u-tokyo.ac.jp/about-us/tutors-working/">ECCS tutors</a> who are available at the main terminal locations.</li>
</ul>
</li>
</ul>
