{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

{% capture login_steps %}
<ol>
<li>Go to <a href="https://itc-lms.ecc.u-tokyo.ac.jp/login">ITC-LMS</a>and click "Login".</li>
<li>When asked to enter your username and password, enter your UTokyo Account{% if page.slug != "oc" and page.slug != "faculty_members" %} (10-digit common ID){% endif %} information.</li>
</ol>
{% endcapture %}
{% capture notification_steps %}
<ol>
<li>After signing in, click "Settings" on the upper right.</li>
<li>You can set up how to receive notification about class material uploads and class announcements. If you want to receive notification via LINE, click "Connect LINE" in the "SNS Account" field, and set up to receive notifications on ITC-LMS via LINE.</li>
</ol>
{% endcapture %}
{% capture notification_help %}
  <details>
    <summary>Help when this procedure does not work</summary>
    <ul>
      <li><strong>The screen returns to the previous page or turns white in the middle of the process after clicking "Connect LINE"</strong>: There is a problem on the linkage with LINE. Please try again from the beginning. For more details, please refer to the ITC-LMS announcement "<a href="https://www.ecc.u-tokyo.ac.jp/announcement/2021/02/10_3259.html">LINE linkage registration fails (only in Japanese)</a>".</li>
      <li><strong>The "Linked email address" in the "Forwarding email address" field is not displayed</strong>: Your email address registered in UTAS will be reflected on the system a day after the registration. If you have just registered, try again on the following day.</li>
    </ul>
    If this does not work, please contact the <a href="/en/support/">support desk</a>.
  </details>
{% endcapture %}

{% if include.part == "login" %}
{{ login_steps }}
{% elsif include.part == "notification" %}
{{ notification_steps }}
{{ notification_help }}
{% else %}
<ul class="procedure">
{% if page.slug == "oc" %}
{% endif %}
<li><strong>Check: Sign in to ITC-LMS</strong>
{{ login_steps }}
<ul>
<li>If this procedure does not work, please consult the <a href="/support/">support desk</a>.</li>
</ul>
</li>
{% if page.slug == "oc" %}
<li><strong>Optional task: Link ITC-LMS with LINE notification</strong>
{{ notification_steps }}
<ul>
<li>
{{ notification_help }}
</li>
</ul>
</li>
{% endif %}
</ul>
{% endif %}
