{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

{% capture login_steps %}
<ol>
<li>Go to <a href="https://itc-lms.ecc.u-tokyo.ac.jp/login">ITC-LMS</a> and click "Login".</li>
<li>Unless you have already signed in, the UTokyo Account sign-in page will be displayed. Please sign in.</li>
</ol>
{% endcapture %}
{% capture notification_steps %}
<ol>
<li>After logging in, click "Settings" on the upper right.</li>
<li>Set up how to receive notifications regarding class material updates and class announcements. To receive notifications via LINE, click "Connect LINE" in the "SNS Account" field to link your LINE account. Thereafter, select “Receive by LINE” in the “Notice Information” field.</li>
</ol>
{% endcapture %}
{% capture notification_help %}
  <details>
    <summary>Troubleshooting guide</summary>
    <ul>
      <li><strong>During the LINE linking procedure after clicking “Connect LINE”, you are taken back to the previous page, or the page turns white</strong>: This error means there is a problem with the linkage between ITC-LMS and LINE. Please try again from the beginning. For more details, please refer to the ITC-LMS announcement "<a href="https://www.ecc.u-tokyo.ac.jp/announcement/2021/02/10_3259.html">LINE linkage registration fails (in Japanese)</a>".</li>
      <li><strong>The "Linked e-mail address" in the "Forwarding e-mail address" field is not displayed</strong>: This might be due to your email address registered in UTAS not being reflected in the ITC-LMS yet. It takes a day for it to be reflected; please try again on the next day.</li>
    </ul>
    If the issue is still not resolved, please consult the <a href="/en/support/">Technical Support Desk</a>.
  </details>
{% endcapture %}

{% if include.part == "login" %}
{{ login_steps }}
{% elsif include.part == "notification" %}
{{ notification_steps }}
{{ notification_help }}
{% else %}
<ul class="procedure">
{% if page.slug == "oc" %}
{% endif %}
<li><strong>Check: Sign in to ITC-LMS</strong>
{{ login_steps }}
<ul>
<li>If this procedure does not work, please consult the <a href="/en/support/">Technical Support Desk</a>.</li>
</ul>
</li>
{% if page.slug == "oc" %}
<li><strong>Optional task: Link ITC-LMS with LINE notification</strong>
{{ notification_steps }}
<ul>
<li>
{{ notification_help }}
</li>
</ul>
</li>
{% endif %}
</ul>
{% endif %}
