{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

<ul class="procedure">
{% case page.slug %}{% when "oc" %}
<li><a href="/oc/movies#microsoft">Procedure video (in Japanese)</a></li>
{% endcase %}
<li><strong>Check: Sign in</strong>
<ol>
<li>Go to the <a href="https://myaccount.microsoft.com/">Microsoft sign-in page</a>.</li>
<li>On the sign-in screen that appears, enter your 10-digit Common ID (UTokyo Account username) followed by <code>@utac.u-tokyo.ac.jp</code>, such as <code>1234567890@utac.u-tokyo.ac.jp</code>. <code>@utac.u-tokyo.ac.jp</code> indicates that you are a UTokyo member. (This screen will not appear if you are already signed in.)</li>
<li>Unless you have already signed in, the UTokyo Account sign-in page will be displayed. Please sign in.</li>
<li>Double check whether the University of Tokyo logo appears in the upper-left corner of the "My Account" screen.</li>
</ol>
<ul>
<li>
  <details>
    <summary>Troubleshooting guide</summary>
    <ul>
      <li><strong>You cannot access the sign-in screen from the above link</strong>: This occurs when you are already signed in to Microsoft with another account. Click your account picture in the upper-right corner of the <a href="https://www.office.com/">Office 365 home page</a> (either a picture you set or the default picture that shows your initials or a human silhouette). Click "Sign out" and access the sign-in page again.</li>
      <li><strong>If the message "Verify your phone number" appears</strong>: This may occur when only the 10-digit common ID was entered. Enter it followed by <code>@utac.u-tokyo.ac.jp</code>, such as <code>1234567890@utac.u-tokyo.ac.jp</code>.</li>
    </ul>
    If the issue is still not resolved, please consult the <a href="/en/support/">Technical Support Desk</a>.
  </details>
</li>
</ul>
</li>
<li><strong>Check: Make sure you can access UTokyo member-only pages</strong>
<ol>
<li>Go to <a href="https://forms.office.com/r/E04PmwAizB">UTokyo member-only test form (Microsoft Forms)</a>.</li>
<li>A sign-in screen will appear if you are not already signed in. Enter your UTokyo Account email address (e.g., <code>1234567890@utac.u-tokyo.ac.jp</code>) and sign in as explained above.</li>
<li>You are properly signed in if you can see the form contents (you do not have to fill or respond to the form).</li>
</ol>
<ul>
<li>
<details>
  <summary>Troubleshooting guide</summary>
  <ul>
    <li><strong>Error message "You don’t have permission to view or respond to this form"</strong>: This error occurs when you are already signed in to Microsoft with another account. Click your account picture in the upper-right corner of the <a href="https://www.office.com/">Office 365 home page</a> (either a picture you set, or the default picture that shows your initials or a human silhouette). Click "Sign out" and access the sign-in page again. <a href="https://youtu.be/SiOS0M9FChk"></a>Procedure video for PC</a> <a href="https://youtu.be/QZGGHcQvUXU">Procedure video for smartphone</a></li>
  </ul>
  If the issue is still not resolved, please consult the <a href="/en/support/">Technical Support Desk</a>.
</details>
</li>
</ul>
</li>
<li><strong>Optional task: Install Word or Excel on your computer</strong> (you can use the one you have already installed)
<ol>
<li>Go to the <a href="https://portal.office.com/">Office 365 home page</a>.</li>
<li>The sign-in screen will appear if you are not already signed in. Enter your UTokyo Account email address (e.g., <code>1234567890@utac.u-tokyo.ac.jp</code>) and sign in, as explained above.</li>
<li>Click "Install apps" in the upper right corner of the screen, and then click "Microsoft 365 apps".</li>
<li>The subsequent steps will vary depending on the case. In some cases, the installation will proceed automatically, whereas in others, you may need to press the confirmation button or open the downloaded file yourself.</li>
<li>Open the installed Word or Excel app and click the "Sign In" button in the upper-left corner.</li>
<li>On the sign-in screen that appears, enter your 10-digit Common ID (UTokyo Account username) followed by <code>@utac.u-tokyo.ac.jp</code> to indicate your affiliation with UTokyo (e.g., <code>1234567890@utac.u-tokyo.ac.jp</code>).</li>
<li>Once you have signed in, you will be able to create/edit Word and Excel files.</li>
</ol>
<ul>
<li>If this procedure does not work, please consult the <a href="/en/support/">Technical Support Desk</a>.</li>
</ul>
</li>
</ul>
