{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

{% assign part = include.part %}
{% assign system = "UTAS" %}

{% capture login_steps %}
<li>Access <a href="https://utas.adm.u-tokyo.ac.jp/campusweb/campusportal.do?locale=en_US">UTAS</a> and click "Login".</li>
<li>When asked to enter your username and password, enter your UTokyo Account{% if page.slug != "oc" and page.slug != "faculty_members" %} (10-digit common ID){% endif %} information{%
  if part == "important"
    %} (if you have already entered this information once, the system may remember it and not ask you to do so){%
  endif
%}.</li>
{% endcapture %}
{% capture confirm_email_address_registration_steps %}
<li>{% if include.part != "important" %}After signing in, click{% else %}Click{% endif %} "Student Info" → "Register Address Update, etc" at the top.</li>
<li>Make sure that you have registered a valid  email address in the "E-MAIL 1" field.</li>
<li>If no email address is registered or if the registered email address is incorrect, please change it to the one that certainly reaches you.</li>
{% endcapture %}
{% capture support %}
<ul>
<li>If this procedure does not work, please consult the <a href="/en/support/">support desk</a>.</li>
</ul>
{% endcapture %}


{% capture login %}
<ol>
{{ login_steps }}
</ol>
{{ support }}
{% endcapture %}
{% capture confirm_email_address_registration %}
<ol>
{{ confirm_email_address_registration_steps }}
</ol>
{{ support }}
{% endcapture %}
{% capture login_and_confirm_email_address_registration %}
<ol>
{{ login_steps }}
{{ confirm_email_address_registration_steps }}
</ol>
{{ support }}
{% endcapture %}


{% if include.part == "important" and page.slug == "oc" %}

{% include procedures/en/_important.html procedure= login_and_confirm_email_address_registration heading="Log in to check if your email address is registered" %}

{% elsif page.slug == "oc" %}

<ul class="procedure">
{% include procedures/en/_important.html procedure=login type="Exercise" heading="Login" %}
{% include procedures/en/_important.html procedure=confirm_email_address_registration type="Check" heading="Make sure your email address is registered" %}
</ul>

{% elsif include.part == "login" %}

<ol>
{{ login_steps }}
</ol>>

{% elsif include.part == "confirm_email_address_registration" %}

<ol>
{{ confirm_email_address_registration_steps }}
</ol>>

{% else %}

<ul>
<li><strong>Exercise: Login</strong>
{{ login }}
</li>
{% if page.slug != "faculty_members" %}
<li><strong>Check: Make sure your email address is registered</strong>{% if page.slug != "oc" %} (only students){% endif %}
{{ confirm_email_address_registration }}
</li>
{% endif %}
</ul>

{% endif %}
