{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照のこと
{% endcomment %}

{% assign part = include.part %}
{% assign system = "UTokyo Account" %}

{% capture change_initial_password %}
<ul>
<li><a href="https://youtu.be/tTpAlqVhEXQ">Procedure video</a></li>
</ul>
<ol>
<li>Receive the "Notification regarding password for the UTokyo Account", which will include your initial password from your faculty/graduate school. {%
  case page.slug %}{%
    when "oc"
      %}You should receive this notification well before classes start; however, if you do not, please contact your faculty/graduate school. (The notification is available to first year undergraduate students at <a href="https://utas-ew.adm.u-tokyo.ac.jp/">https://utas-ew.adm.u-tokyo.ac.jp/</a> starting March 22.){%
    when "faculty_members"
      %}It should have been distributed to those who need it for classes. If not, please contact your department.{%
    else
      %}{%
  endcase
%}</li>
<li>Please log in to the <a href="https://utacm.adm.u-tokyo.ac.jp/webmtn/LoginServlet">UTokyo Account User Menu</a> with the username and password indicated on the notification.</li>
<li>Click "Password Change" on the upper left to change you password. To ensure the safety of your account, please set a strong password.</li>
</ol>
<ul>
<li>If this procedure does not work, please consult the <a href="/en/supports/">Technical Support Desk</a>.</li>
</ul>
{% endcapture %}

{% unless include.part == "important" %}
<ul class="procedure">
{% endunless %}
{% include procedures/en/_important.html procedure=change_initial_password type="Task" heading="Changing the initial password" %}
{% unless include.part == "important" %}
</ul>
{% endunless %}
