---
import type { Variant, Lang } from "@components/types";

interface Props {
  short: boolean | undefined;
  variant: Variant;
  lang: Lang;
  system: string;
  prefix: string;
  title: string;
}

const { short, variant, lang, system, prefix, title } = Astro.props;
const colon = { ja: "：", en: ": " }[lang];
const repost = { ja: "（再掲）", en: "(Repost)" }[lang];
---

{
  short ? (
    <>
      <strong>{system + colon + title}</strong>
      <slot name="important" />
    </>
  ) : (
    <ul>
      <li>
        {variant === "oc" ? (
          <>
            <details>
              <summary>
                {repost}
                <strong>{prefix + colon + title}</strong>
              </summary>
              <slot name="important" />
            </details>
          </>
        ) : (
          <>
            <strong>{prefix + colon + title}</strong>
            <slot name="important" />
          </>
        )}
      </li>
      <slot />
    </ul>
  )
}
