---
import type { Lang } from "@components/types";

interface Props {
  /**
   * 文章を表示するか否か
   */
  show: boolean;
  /**
   * 表示する言語
   */
  lang: Lang;
  /**
   * トラブルシュート手順の後にあるか
   * Help.astro でのみ利用
   */
  inHelp?: boolean;
}

const { show, lang, inHelp = false } = Astro.props;
---

{
  show &&
    {
      "ja-false": (
        <p class="support">
          この手順がうまくいかないときは<a href="/support/">サポート窓口</a>
          に相談してください．
        </p>
      ),
      "ja-true": (
        <p class="support">
          これらを確認して，それでもうまくいかなければ，
          <a href="/support/">サポート窓口</a>に相談してください．
        </p>
      ),
      "en-false": (
        <p class="support">
          If this procedure does not work, please consult the{" "}
          <a href="/en/support/">Technical Support Desk</a>.
        </p>
      ),
      "en-true": (
        <p class="support">
          If the issue is still not resolved, please consult the{" "}
          <a href="/en/support/">Technical Support Desk</a>.
        </p>
      ),
    }[`${lang}-${inHelp}`]
}

<style>
  p.support {
    padding-left: 20px;
  }
</style>
