---
---
<ol>
    <li>
      <p>
        東京大学専用のZoomのページ<a href="https://u-tokyo-ac-jp.zoom.us/">https://u-tokyo-ac-jp.zoom.us/</a>
        にアクセスしてください．
      </p>
    </li>
    <li>
      <p>
        「UTokyo Zoom」と書かれたページが表示されるので，そのページにある「Config」と書かれたボタンを押してください．
      </p>
      <p>
        <img src="/zoom/signin/1.png" alt="" class="medium" />
      </p>
      <details>
        <summary>ヘルプ：上のリンクにアクセスしても「UTokyo Zoom」と書かれたページが表示されない場合</summary>
        <p>
          前から持っていた自分のアカウントで既にZoomにサインインしているときに起きます．
          <a href="https://zoom.us/profile">Zoomの設定画面</a>
          の右上のアイコン（人のマークか，または自分のアイコンを設定していればそれ）を押して，「サインアウト」してから，アクセスし直してください．
        </p>
        <p>
          <img src="/zoom/signin/3.png" alt="" class="medium" />
        </p>
        <p>それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．</p>
      </details>
    </li>
    <li>
      <p>
        既にUTokyo Accountにサインイン済みの場合を除き，UTokyo Accountのサインイン画面が表示されるので，サインインしてください．
      </p>
      <p>
        <img src="/zoom/signin/2.png" alt="" class="medium" />
      </p>
    </li>
    <li>
      <p>
        サインインが完了します．右上のアイコン（人のマークか，または自分のアイコンを設定していればそれ）を押したときに，自分の共通IDとともに「ライセンスあり」と表示されれば，OKです．
      </p>
      <p>
        <img src="/zoom/signin/license.png" alt="" />
      </p>
    </li>
  </ol>
  