---
---

<ol>
  <li>
    <a href="https://itc-lms.ecc.u-tokyo.ac.jp/login">ITC-LMS</a>
    にアクセスして，「ログイン」を押してください．
  </li>
  <li>
    既にUTokyo Accountにサインイン済みの場合を除き，UTokyo
    Accountのサインイン画面が表示されるので，サインインしてください．
  </li>
</ol>
