---
---

<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li>
      <strong
        >「転送先メールアドレス」の欄の「連携メールアドレス」が表示されない</strong
      >：UTASで登録したメールアドレスが，翌日以降に反映されます．登録したばかりだと表示されません．
    </li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/support/"
    >サポート窓口</a
  >に相談してください．
</details>
