---
---

<ol>
  <li>ログインした後，右上の「Settings」を押してください．</li>
  <li>
    登録した授業の資料や課題の更新，担当の先生からのお知らせを受け取る方法を設定できます．LINEで通知を受け取りたい場合は，「通知用SNSアカウント」の欄にある「LINEから通知を受け取る」を押して連携し，「お知らせ通知」の欄をLINEで受け取るように設定してください．
  </li>
</ol>
