---
interface Props {
  userIdField?: string;
}

const { userIdField } = Astro.props;
---
After enabling the Wi-Fi function, wait for a list of SSIDs to appear in the Wi-Fi connection settings screen. SSID is a name to identify a Wi-Fi network. From the list of SSIDs, please select the SSID named `0000UTokyo` and connect to it.
<ul>
  <li>If the screen for entering a { userIdField } and password appears, follow Step 4. </li>
  <li>If the screen for entering a { userIdField } and password does not appear but you are able to connect to the Wi-Fi, you do not need the following steps.</li>
  <li>If the screen for entering a { userIdField } and password does not appear and it fails to connect to the Wi-Fi, go to Step 3.</li>
  </ul>
<details>
    <summary><code>0000UTokyo</code>If you cannot find the SSID </summary>
    Depending on the location, the signal of the UTokyo Wi-Fi may not be reachable. Please change the location and try again. If you have never had any trouble using it at the location before but are experiencing issues now, please consult the <a href="/support">Technical Support Desk</a>．
</details>
