---
interface Props {
    systemName?: string;
}

const { systemName } = Astro.props;
---

<div class="box">
    The website of Educational Campuswide Computing System (ECCS) (www.ecc.u-tokyo.ac.jp) was closed as of June 2024. From this time on, information about { systemName } will be posted on utelecon. The information that is still valid on the old website will be migrated to utelecon gradually. <a href="https://www-old.ecc.u-tokyo.ac.jp/en/">An archive of the old website at the time of its closure (www-old.ecc.u-tokyo.ac.jp)</a> is available, so please refer to it as well.
</div>
