---
---

1. Go to the [UTokyo Zoom page](https://u-tokyo-ac-jp.zoom.us/) (please note that this is a Zoom sign-in page for UTokyo members only, and is not a regular Zoom sign-in page).
1. A page labeled "UTokyo Zoom" will appear. Click the "Config" button on this page.
    ![](/en/zoom/signin/1.png)<!-- {:.medium} -->
    <details>
        <summary>Troubleshooting guide: When you cannot see the page that says "UTokyo Zoom" after clicking on the link above.</summary>
        This happens when you are already signed in to Zoom with your existing account. Click the icon in the top right corner of the <a href="https://zoom.us/profile">Zoom settings page</a> and click “SIGN OUT." Then, return to the first step and access the UTokyo Zoom page again. <img src="/en/zoom/signin/3.png" alt="" class="medium">
        If the issue is still not resolved, please consult the <a href="/en/support/">Technical Support Desk</a>.
    </details>
1. Unless you have already signed in to your UTokyo Account, the sign-in page will be displayed. Please sign in.
![](/en/zoom/signin/2.png)<!-- {:.medium} -->
1. If you see “Licensed” with your Common ID after clicking the icon in the top right corner of the Zoom settings page (a human silhouette or a profile picture that you have set up), you have successfully signed into Zoom with your UTokyo account.
![](/en/zoom/signin/license.png)
