---
// ECCS端末にログインしてみる
---

<ul>
  <li>
    この手順は<a
      href="https://www.ecc.u-tokyo.ac.jp/announcement/2020/10/02_3224.html"
      >キャンパス内の特定の場所</a
    >に設置されているECCS端末を使います．
  </li>
</ul>
<ol>
  <li>設置されているECCS端末の電源ボタンを押して電源を入れてください．</li>
  <li>
    しばらく待つとログイン画面が表示されます．UTokyo
    Accountのユーザ名（10桁の数字）とパスワードを入力してください．
  </li>
</ol>
<ul>
  <li>
    この手順がうまくいかないときは，主要な端末設置場所に配置されている学生スタッフの<a
      href="https://www.sodan.ecc.u-tokyo.ac.jp/about-us/tutors-working/"
      >ECCS相談員</a
    >に相談してください．
  </li>
</ul>
