---
import Buttons from "./Buttons.astro";
import Navigation from "./Navigation.astro";

interface Props {
  lang: "ja" | "en";
  support?: boolean;
}

const { lang, support = false } = Astro.props;

const localization = {
  title: {
    ja: "東京大学 オンライン授業・Web会議ポータルサイト",
    en: "The University of Tokyo Online Class / Web Conference Portal Site",
  },
};
const topUrl = {
  ja: "/",
  en: "/en/",
};
---

{
  support ? (
    <script
      type="text/javascript"
      src="https://ws.mediatalk.io/client/5e8c740062643.js"
    />
  ) : (
    <Buttons lang={lang} />
  )
}

<footer class="footer">
  <div class="logo">
    <a href="https://www.u-tokyo.ac.jp/">
      <img
        class="logo-utokyo"
        src="/assets/images/UTlogo.png"
        alt="東京大学 the University of Tokyo"
      />
    </a>
    <a class="logo-utelecon" href={topUrl[lang]}>{localization.title[lang]}</a>
    <Navigation lang={lang} />
  </div>
</footer>

<style lang="scss">
  @import "../../styles/color.scss";
  footer.footer {
    background-color: $footer-background-color;
    color: white;
    :link,
    :visited {
      color: white;
      text-decoration: none;
    }
    padding: 2rem 4rem 8rem;
    @media (max-width: 768px) {
      padding: 2rem 2rem 8rem;
    }
    @media (max-width: 512px) {
      padding: 2rem 1rem;
    }

    .logo {
      text-align: center;
      &-utokyo {
        width: 16rem;
        max-width: 62.5%;
      }
      &-utelecon {
        display: block;
        margin: 2rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
</style>
