---
import ja from "../../data/nav/ja.yml";
import en from "../../data/nav/en.yml";
import type { Navigation } from "../../data/nav/type";
import Markdown from "@components/Markdown.astro";

interface Props {
  lang: "ja" | "en";
}

const { lang } = Astro.props;
const data: Navigation[] = {
  ja,
  en,
}[lang];
---

<nav class="footer">
  <ul>
    {
      data.map((row) => (
        <li>
          <div>{row.name}</div>
          <ul>
            {row.contents.map(({ name, url }) => (
              <li>
                <a href={url}>
                  <Markdown content={name} />
                </a>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  nav.footer {
    :link:hover,
    :visited:hover {
      text-decoration: underline;
    }
    :link,
    :visited {
      color: white;
      text-decoration: none;
    }
    & > ul {
      column-count: 2;
      column-gap: 4rem;
      padding: 0;
      & > li {
        display: block;
        break-inside: avoid;
        padding-top: 1em;
        text-align: left;
        & > div {
          font-weight: bold;
        }
        & > ul {
          padding-left: 1em;
          & > li {
            display: block;
          }
        }
      }
      @media (max-width: 768px) {
        column-count: auto;
      }
      @media (min-width: 1152px) {
        column-count: 3;
      }
      @media (min-width: 1536px) {
        display: flex;
        justify-content: space-around;
        column-count: auto;
        column-gap: normal;
      }
    }
  }
</style>
