---
---

<li>
  <strong>Check: Log in</strong>
  <ol>
    <li>
      Please wait for about 40 minutes for your newly set password and email
      address to be reflected in the system.
    </li>
    <li>
      Go to <a href="https://mail.google.com/a/g.ecc.u-tokyo.ac.jp"
        >the Google login page</a
      >.
    </li>
    <li>Enter your new email address from the above procedure.</li>
    <li>Enter the password you previously set.</li>
  </ol>
  <ul>
    <li>
      <details>
        <summary>Troubleshooting guide</summary>
        <ul>
          <li>
            <strong
              >Error message "Google couldn’t verify this account belongs to
              you. Try again later or use Account Recovery for help."</strong
            >:
            <ul>
              <li>
                Your login attempt is detected as a "suspicious login." ECCS
                Cloud Email (Google Workspace) may judge unusual activities as
                suspicious logins. You may be able to log in if you change
                locations, terminals, or internet connections. Especially, if
                you are using a VPN, try logging in without the VPN (if
                possible).
              </li>
              <li>
                If changing the environment does not seem to solve the problem,
                please consult the <a href="/en/support/"
                  >Technical Support Desk</a
                > with a note to that effect.
              </li>
              <li>
                For more details, please refer to the ECCS announcement <a
                  href="https://www.ecc.u-tokyo.ac.jp/en/announcement/2022/09/05_3466.html"
                  >"An error message of 'Google couldn't verify that this
                  account belongs to you.'"</a>
              </li>
            </ul>
          </li>
        </ul>
      </details>
    </li>
  </ul>
</li>
<li>
  <strong>Check: Make sure you can access UTokyo member-only pages</strong>
  <ol>
    <li>
      Access the <a
        href="https://docs.google.com/spreadsheets/d/16mWLhEldvrelJNJJ3oa4VlFpnMeSGYgfBja7pTpAL_s/edit?usp=sharing"
        >ECCS Cloud Email member-only test page (Google Spreadsheet)</a
      >.
    </li>
    <li>
      You will be asked to sign in to your ECCS Cloud Email if not already
      signed in. Please enter the email address and password you previously set.
    </li>
    <li>
      If you can see the contents of the page (spreadsheet), you have
      successfully signed into your ECCS Cloud Email. If you cannot see the
      contents and instead see the “You need access” message, follow the
      procedures in the “Troubleshooting guide” section below. Do not request
      access.
    </li>
  </ol>
  <ul>
    <li>
      <details open>
        <summary>Troubleshooting guide</summary>
        <ul>
          <li>
            <strong
              >(On PC/smartphone) You are taken to the “You need access” page
              and you see who you are signed in as (e.g., “You are signed in as
              example@gmail.com”) at the bottom</strong
            >: This happens when you are signed in with a Google account other
            than your ECCS Cloud Email. <small
              >(e.g., @gmail.com, @<em
                style="font-style: normal; background-color: yellow;">edu.k</em
              >.u-tokyo.ac.jp)</small
            >. Click the email address under “You are signed in as”. You will be
            taken to the “Choose an account”, where you can switch your account.
            Select your ECCS Cloud Email account (xxxx@<em
              style="font-style: normal; background-color: yellow;">g.ecc</em
            >.u-tokyo.ac.jp). If your ECCS Cloud Email account does not show up,
            click “Use another account” and sign in with your ECCS Cloud Email.
          </li>
          <li>
            <strong
              >(On a smartphone) You are taken to the “You need access” or
              “Request access” page</strong
            >: This happens when you are signed in with a Google account other
            than your ECCS Cloud Email. Follow the steps in "Log in on your
            phone" below, and then try to access the test document again.
          </li>
        </ul>
        If the issue is still not resolved, please consult the <a
          href="/en/support/">Technical Support Desk</a
        >.
      </details>
    </li>
  </ul>
</li>
<li>
  <strong>Optional task: Log in on your smartphone</strong> (for users of Gmail or
  other Google apps)
  <ol>
    <li>
      Open a Google app, such as Gmail, and click your profile picture in the
      upper-right corner (either a picture you set or the default avatar with
      your initials).
    </li>
    <li>Tap "Add another account" to add your Google account.</li>
    <li>
      Enter your ECCS Cloud Email address and password that you set up above.
    </li>
  </ol>
</li>
<li>
  <strong>Exercise: Use your email</strong> (You can use your email address "xxxx@g.ecc.u-tokyo.ac.jp"
  in Gmail)
  <ol>
    <li>
      Access <a href="https://mail.google.com/a/g.ecc.u-tokyo.ac.jp">Gmail</a>.
    </li>
    <li>
      You will be prompted to log in if you have not already done so. Follow the
      same login procedure as before.
    </li>
    <li>
      You can use Gmail’s email service with your ECCS Cloud Email, just like a
      regular Gmail account. Try sending an email to another email address you
      have or check whether you can receive an email sent from your other email
      address.
    </li>
  </ol>
  <ul>
    <li>
      If this procedure does not work, please consult the <a href="/en/support/"
        >Technical Support Desk</a
      >.
    </li>
  </ul>
</li>
