---
interface Props {
  part?: string;
  pageSlug?: string;
}

const { part, pageSlug } = Astro.props;
---

{
  pageSlug === "oc" && (
    <ul>
      <li>
        <a href="/oc/movies#google">手順動画</a>
      </li>
    </ul>
  )
}

<ol>
  <li>
    <a href="https://utacm.adm.u-tokyo.ac.jp/webmtn/LoginServlet"
      >UTokyo Account利用者メニュー</a
    >にアクセスし，UTokyo
    Accountのユーザ名とパスワードを入力してログインしてください．
  </li>
  <li>
    左のメニューにある「ECCSクラウドメール（パスワード変更）」を押すとパスワードの設定画面が表示されます．自身でパスワードを決め，設定してください．これはECCSクラウドメール専用のパスワードです．
  </li>
  <!--<li>左のメニューにある「ECCSクラウドメール」を押すとメールアドレスの設定画面が表示されます．名前をもとに自動で作られた初期メールアドレスが「現在のメールアドレス」という欄に表示されているので，これをそのまま使うこともできますし，好みのものに変更することもできます．変更する場合は，「メールアドレス」欄に新しいメールアドレスを入力して，「保存」ボタンを押してください．変更しない場合は，表示されている「現在のメールアドレス」を確認しておいてください．</li>-->
  <li>
    左のメニューにある「ECCSクラウドメール」を押すとメールアドレスの設定画面が表示されます．「メールアドレス」欄に好みのメールアドレスを入力して，「保存」ボタンを押してください．
  </li>
</ol>
<ul>
  {
    part == "important" && (
      <li>
        ECCSクラウドメールの基本的な使い方（ログイン方法・メールの確認方法等）は下の
        <a href="#google">「ECCSクラウドメール」の項</a>をご覧ください．
      </li>
    )
  }
  <li>
    <details>
      <summary>この手順がうまくいかないときのヘルプ</summary>
      <ul>
        <li>
          <strong
            >「EX-076 エラーが発生しました。 EX-079
            ディレクトリの他の属性値と同じため、新しいパスワードには設定できません。」と表示される場合</strong
          >：ECCSクラウドメールのパスワードは，UTokyo
          Accountのパスワードやユーザ名（10桁の数字）と同一であったり，これらを一部に含んでいたりしてはいけない，という制限があります．これに該当していると思われるので，この制限を避けたパスワードでもう一度試してみてください．
        </li>
      </ul>これらを確認して，それでもうまくいかなければ，<a href="/support/"
        >サポート窓口</a
      >に相談してください．
    </details>
  </li>
</ul>
