---
interface Props {
  pageSlug?: string;
}

const { pageSlug } = Astro.props;
---

<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li>
      <strong
        >「[Error]
        あなたは現在このシステムを利用することができません」と表示されてログインできない場合</strong
      >：
      <ul>
        {
          pageSlug !== "faculty_members" && (
            <>
              <li>
                学部から大学院に進学するなど所属が変わる場合は，切り替えのため一時的にUTASにアクセスできない期間があります．時間をおいてもう一度試してみてください．
              </li>
              <li>
                それに該当しない場合は，所属の学部・研究科等に問い合わせてください．
              </li>
            </>
          )
        }
        {
          pageSlug !== "oc" && (
            <li>
              一部の教職員（主に授業を担当されない方）にはUTASのアカウントが登録されていません．所属部局の事務に確認してみてください．
            </li>
          )
        }
      </ul>
    </li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/support/"
    >サポート窓口</a
  >に相談してください．
</details>
