img {
  display: block;
  max-height: 40rem;
}

img.large {
  width: 100%;
}

img.medium {
  width: 40rem;
}

img.small {
  width: 30rem;
  max-height: 30rem;
}

img.inline {
  display: inline;
}

img.logo {
  display: inline;
  max-height: 2em;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-size: 0.75em;
}
