img {
  display: block;
  max-height: 40rem;
  max-width: 100%;
}

img.large {
  width: 100%;
}

img.medium {
  width: 40rem;
}

img.small {
  width: 30rem;
  max-height: 30rem;
}

img.inline {
  display: inline;
}

img.logo {
  display: inline;
  max-height: 2em;
}

img.border {
  border: 1px solid currentcolor;
  & + img.border {
    margin-top: 0.5em;
  }
}

img.shadow {
  box-shadow: 0 0 0.75em 0.75em white inset;
  padding: 1em;
  background: $gray;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-size: 0.75em;
}
