{% capture content %}
{% include layouts/header.html %}

<main id="content">
  {% assign h1 = page.h1 | default: page.title %}
  {% if h1 %}
    <h1 class="title">{{ h1 }}</h1>
  {% endif %}

  {% assign toc = content | toc_only %}
  {% assign toc_stripped = toc | strip_html | strip %}
  {% if page.toc and toc_stripped != "" %}
    <section class="main__toc">
      <h2>{% if page.lang == "en" %}Table of Contents{% else %}目次{% endif %}</h2>
{{ toc }}
    </section>
  {% endif %}

{% if page.target_blank != false %}
{% include layouts/target_blank.html %}
{% else %}
{{ content }}
{% endif %}

{% include layouts/author.html %}

</main>

{% include layouts/footer.html %}
{% endcapture %}{% include layouts/common.html %}
