<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script async src="https://cse.google.com/cse.js?cx=000989064976317806194:6h5uropjuyu"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/bar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/hiraku.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/assets/js/hiraku.js"></script>

  </head>
  <body>
    <header class="new-page-header">
      <div class="header-left">
        <div class="bar-btn-normal">
          <button class="hiraku-open-btn" id="offcanvas-btn-left" data-toggle-offcanvas="#js-hiraku-offcanvas-1">
          <span class="hiraku-open-btn-line"></span>
          </button>
          <div style="line-height: 10px;font-size: 12px;color: white;">Menu</div>
        </div>
        <a href="/"><img src="/assets/images/utelecon.svg" alt="logo"></a>
        <p>オンライン授業・web会議ポータルサイト@東京大学</p>
      </div>
      <div class="header-right">
        <a href="/sitemap/">このサイトについて</a> | <img src="/assets/images/translation.svg" alt=""><a href="/en{{page.url}}">English</a>
      </div>
      </div>
    </header>

    <nav class="top_menu">
      <ul class="menu">
          <li class="menu__single">
              <a href="#" class="init-bottom">教育用ICT</a>
              <ul class="menu__second-level">
                  <li><a href="/oc/">学生用(2020 Aセメスター版)</a></li>
                  <li><a href="/faculty_members/">教員用(2020 Aセメスター版)</a></li>
                  <li><a href="/good-practice">グッドプラクティス</a></li>
                  <li><a href="/lms_students/">ITC-LMS 学生用</a></li>
                  <li><a href="/lms_lecturers/">ITC-LMS 教員用</a></li>
                  <li><a href="/faculty_members/url_2020_a">授業URL通知(2020 Aセメスター版)</a></li>
                  <li><a href="/faq/">よくある質問（FAQ）</a></li>
                  <li><a href="/change2021s/">2021年春のシステム変更</a></li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom">Web会議</a>
              <ul class="menu__second-level">
                  <li><a href="/zoom">Zoom</a></li>
                  <li><a href="/webex">Webex</a></li>
                  <li><a href="/meet">Google Meet</a></li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom">イベント・説明会</a>
              <ul class="menu__second-level">
                  <li><a href="/events/2020-luncheon/">オンライン授業情報交換会</a></li>
                  <li><a href="/events/2020-09-11/">9/11 説明会: Aセメスターに向けて</a></li>
                  <li><a href="/events/2020-09-02/">9/2 ゼミ: 動画の作成・公開方法</a></li>
                  <li><a href="/#events">過去のイベント</a></li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom">各種申請・報告フォーム</a>
              <ul class="menu__second-level">
                  <li><a href="/supports">トラブルサポート窓口</a></li>
                  <li><a href="/forums/">QAフォーラム, MLなど</a></li>
                  <li><a href="/mobile/">継続: ネットワーク環境支援</a></li>
                  <li><a href="/supporters/class_a">クラスサポーター制度</a></li>
                  <li><a href="/forms/et">授業入室時トラブル報告</a></li>
                  <li><a href="/forms/takecarestudents">学科・専攻の学生ケア担当登録</a></li>
                  <li><a href="https://tinyurl.com/vjfuxs3" target="_blank">部局のWebページへのリンク登録</a></li>
              </ul>
          </li>
      </ul>
    </nav>

    <main id="content" class="main-content" role="main">
      <div class="container" style="border-bottom: black thin solid;">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      </div>

      <h3>目次</h3>
      {% include toc.html html=content %}

      {{ content }}

      <!-- for drawer -->
      <div class="offcanvas-left">
        <ul>
          <div style="text-indent: -2em">MENU</div>
          <li><a href="/">Home</a>
          <li>オンライン授業</li>
            <ul>

              <li><a href="/oc/index_2020_a">学生用(2020 Aセメスター版)</a></li>
              <li><a href="/faculty_members/index_2020_a">教員用(2020 Aセメスター版)</a></li>
              <li><a href="/good-practice">グッドプラクティス</a></li>
              <li><a href="/lms_students/">ITC-LMS 学生用</a></li>
              <li><a href="/lms_lecturers/">ITC-LMS 教員用</a></li>
              <li><a href="/faculty_members/url_2020_a">授業URL通知(2020 Aセメスター版)</a></li>
              <li><a href="/faq/">よくある質問（FAQ）</a></li>
              <li><a href="/change2021s/">2021年春のシステム変更</a></li>
            </ul>
          <li>Web会議</li>
            <ul>
              <li><a href="/zoom">Zoom</a></li>
              <li><a href="/webex">Webex</a></li>
              <li><a href="/meet">Google Meet</a></li>
            </ul>
          <li>イベント・説明会</li>
            <ul>
              <li><a href="/events/2020-luncheon/">オンライン授業情報交換会</a></li>
              <li><a href="/events/2020-09-11/">9/11 説明会: Aセメスターに向けて</a></li>
              <li><a href="/events/2020-09-02/">9/2 ゼミ: 動画の作成・公開方法</a></li>
              <li><a href="/#events">過去のイベント</a></li>
            </ul>
          <li>各種申請・報告フォーム</li>
          <ul>
            <li><a href="/supports">トラブルサポート窓口</a></li>
            <li><a href="/forums/">QAフォーラム, MLなど</a></li>
            <li><a href="/mobile/">ネットワーク環境支援</a></li>
            <li><a href="/supporters/class_a">クラスサポーター制度</a></li>
            <li><a href="/forms/et">授業入室時トラブル報告</a></li>
            <li><a href="/forms/takecarestudents">学科・専攻の学生ケア<br>担当登録</a></li>
            <li><a href="https://tinyurl.com/vjfuxs3" target="_blank">部局のWebページへの<br>リンク登録</a></li>
          </ul>
          <li><a href="/sitemap/">サイトマップ</a></li>
          <li><img src="/assets/images/translation.svg" alt=""><a href="/en{{page.url}}">English</a></li>
        </ul>
      </div>
      <script>
          $(".offcanvas-left").hiraku({
              btn:"#offcanvas-btn-left",
              direction:"left"
          });
      </script>
      <!-- for drawer -->

      <!-- jump to page top -->
      <div id="pagetop">
        <img width="70" src="/assets/images/top.png">
      </div>
      <script>
      $(function(){
        // scroll
        $('#pagetop').click(function() {
          $("html,body").animate({scrollTop:0},"300");
        });
        // show/hide
        $('#pagetop').hide();
        $(window).scroll(function() {
          if($(window).scrollTop() > 0) {
            $('#pagetop').slideDown(600);
          } else {
            $('#pagetop').slideUp(600);
          }
        });
      });
      </script>
      <!-- jump to page top -->

      <!-- chat support -->
      <script type="text/javascript" src="https://ws1.sinclo.jp/client/5e8c740062643.js"></script>
    </main>

    <footer class="new-page_footer">
      <div class="container">
        <div class="logo_wrapper">
          <img src="/assets/images/utokyo_logo.png" alt="utokyo logo">
          <img src="/assets/images/utelecon.svg" alt="utelecon logo">
        </div>
        <ul class="footer_sitemap">
          <li class="footer_sitemap_title_list">
              <a href="#" class="title">教育用ICT</a>
              <ul class="">
                  <li><a href="/oc/">学生用(2020 Aセメスター版)</a></li>
                  <li><a href="/faculty_members/">教員用(2020 Aセメスター版)</a></li>
                  <li><a href="/good-practice">グッドプラクティス</a></li>
                  <li><a href="/lms_students/">ITC-LMS 学生用</a></li>
                  <li><a href="/lms_lecturers/">ITC-LMS 教員用</a></li>
                  <li><a href="/faculty_members/url_2020_a">授業URL通知(2020 Aセメスター版)</a></li>
                  <li><a href="/faq/">よくある質問（FAQ）</a></li>
                  <li><a href="/change2021s/">2021年春のシステム変更</a></li>
              </ul>
          </li>
          <li class="footer_sitemap_title_list">
              <a href="#" class="title">Web会議</a>
              <ul class="">
                  <li><a href="/zoom">Zoom</a></li>
                  <li><a href="/webex">Webex</a></li>
                  <li><a href="/meet">Google Meet</a></li>
              </ul>
          </li>
          <li class="footer_sitemap_title_list">
              <a href="#" class="title">イベント・説明会</a>
              <ul class="">
                  <li><a href="/events/2020-luncheon/">オンライン授業情報交換会</a></li>
                  <li><a href="/events/2020-09-11/">9/11 説明会: Aセメスターに向けて</a></li>
                  <li><a href="/events/2020-09-02/">9/2 ゼミ: 動画の作成・公開方法</a></li>
                  <li><a href="/#events">過去のイベント</a></li>
              </ul>
          </li>
          <li class="footer_sitemap_title_list">
              <a href="#" class="title">各種申請・報告フォーム</a>
              <ul class="">
                  <li><a href="/supports">トラブルサポート窓口</a></li>
                  <li><a href="/forums/">QAフォーラム, MLなど</a></li>
                  <li><a href="/mobile/">継続: ネットワーク環境支援</a></li>
                  <li><a href="/supporters/class_a">クラスサポーター制度</a></li>
                  <li><a href="/forms/et">授業入室時トラブル報告</a></li>
                  <li><a href="/forms/takecarestudents">学科・専攻の学生ケア担当登録</a></li>
                  <li><a href="https://tinyurl.com/vjfuxs3" target="_blank">部局のWebページへのリンク登録</a></li>
              </ul>
          </li>
        </ul>
        <div class="copy-right">
        </div>
      </div>
    </footer>
  </body>
</html>
