---
---

{/* keep astro from adding class `astro-*` */}
<Fragment set:html={'<div class="gcse-search"></div>'} />

<style lang="scss" is:global>
  .gsc-input .gsc-input-box {
    height: 30px !important;
    width: 100% !important;
    border-radius: 20px 0 0 20px !important;
    color: black;
  }
  .gsc-search-button .gsc-search-button-v2 {
    height: 30px !important;
    border-radius: 0 20px 20px 0 !important;
  }
  .gsc-control-cse {
    border: none !important;
    background: none !important;
  }
  .gsc-input-box {
    .gsc-input {
      border-radius: 20px !important;
    }
  }
  .gsc-input {
    padding-right: 0 !important;
  }
  .gsc-control-cse.gsc-control-cse-ja {
    padding: 0;
    height: 30px;
    margin: 0 10px 0 0;
  }
  .gsc-search-button {
    margin-left: 0 !important;
  }
  .gsib_a {
    padding: 2px !important;
  }
  td.gsc-input {
    width: 10rem;
  }
  input.gsc-input {
    width: calc(100% - 10px) !important;
    margin-left: 10px !important;
  }
</style>
