<li>
{%
  if part != "important" and page.slug == "oc" or page.slug == "faculty_members"
    %}<details><summary>（再掲）{%
  endif
%}<strong>{%
  if part == "important"
    %}{{ system }}{%
  else
    %}{{ include.type }}{%
  endif
%}：{{ include.heading }}</strong>{%
  if part != "important" and page.slug == "oc" or page.slug == "faculty_members"
    %}</summary>{%
  endif
%}
{{ include.procedure }}
{%
  if part != "important" and page.slug == "oc" or page.slug == "faculty_members"
    %}</details>{%
  endif
%}
</li>
