{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

<ul>
{% if page.slug != "faculty_members" %}
<li><strong>作業：「新規利用者講習」を受講する</strong>{% if page.slug != "oc" %}（学生）{% endif %}
<ol>
<li><a href="https://itc-lms.ecc.u-tokyo.ac.jp/login">ITC-LMS</a>にログインしてください．</li>
<li>下の方の「講習」という欄にある「ECCS新規利用者講習会」を選んでください．</li>
<li>指示に従って動画を閲覧し，テストを受験してください．</li>
<li>テストに解答後，「合格」と表示されれば完了です．「不合格」の場合は再受験してください．</li>
</ol>
<ul>
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li><strong>動画が表示・再生されない場合</strong>：Safariブラウザでこのような現象が発生する不具合が確認されています．お手数ですが，他のブラウザ (Google Chrome, Firefox, Microsoft Edge) をご利用ください．</li>
  </ul>
  <ul>
    <li><strong>テストに解答後，「合格」とも「不合格」とも表示されない場合</strong>：<a href="https://itc-lms.ecc.u-tokyo.ac.jp/">ITC-LMSのトップページ</a>にアクセスして，「ECCS新規利用者講習会」が表示されなくなっていれば，合格しています．</li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
</details>
</li>
</ul>
</li>
{% endif %}
{% if page.slug != "oc" %}
<li><strong>作業：利用権を申請する</strong>{% if page.slug != "faculty_members" %}（教職員）{% endif %}
<ol>
<li>ECCSのページ「<a href="https://www.ecc.u-tokyo.ac.jp/doc/announce/newuser_staff.html">新規アカウントの発行について (教職員等)</a>」をご覧ください．</li>
</ol>
</li>
{% endif %}
<li><strong>練習：ログインしてみる</strong>
<ul>
<li>この手順は<a href="https://www.ecc.u-tokyo.ac.jp/announcement/2020/10/02_3224.html">キャンパス内の特定の場所</a>に設置されているECCS端末を使います．</li>
</ul>
<ol>
{% if page.slug != "faculty_members" %}
<li>{% if page.slug != "oc" %}（学生の場合）{% endif %}「新規利用者講習」に合格してから，反映に1時間かかるので，それまで待ってください．</li>
{% endif %}
<li>設置されているECCS端末の電源ボタンを押して電源を入れてください．</li>
<li>しばらく待つとログイン画面が表示されます．UTokyo Accountのユーザ名（10桁の数字）とパスワードを入力してください．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは，主要な端末設置場所に配置されている学生スタッフの<a href="https://www.sodan.ecc.u-tokyo.ac.jp/about-us/tutors-working/">ECCS相談員</a>に相談してください．</li>
</ul>
</li>
</ul>
