{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

{% assign part = include.part %}
{% assign system = "ECCSクラウドメール" %}

{% capture configure_password_and_email_address %}
{% case page.slug %}{% when "oc" %}
<ul>
  <li><a href="/oc/movies#google">手順動画</a></li>
</ul>
{% endcase %}
<ol>
<li><a href="https://utacm.adm.u-tokyo.ac.jp/webmtn/LoginServlet">UTokyo Account利用者メニュー</a>にアクセスし，UTokyo Accountのユーザ名とパスワードを入力してログインしてください．</li>
<li>左のメニューにある「ECCSクラウドメール（パスワード変更）」を押すとパスワードの設定画面が表示されます．自身でパスワードを決め，設定してください．これはECCSクラウドメール専用のパスワードです．</li>
<!--<li>左のメニューにある「ECCSクラウドメール」を押すとメールアドレスの設定画面が表示されます．名前をもとに自動で作られた初期メールアドレスが「現在のメールアドレス」という欄に表示されているので，これをそのまま使うこともできますし，好みのものに変更することもできます．変更する場合は，「メールアドレス」欄に新しいメールアドレスを入力して，「保存」ボタンを押してください．変更しない場合は，表示されている「現在のメールアドレス」を確認しておいてください．</li>-->
<li>左のメニューにある「ECCSクラウドメール」を押すとメールアドレスの設定画面が表示されます．「メールアドレス」欄に好みのメールアドレスを入力して，「保存」ボタンを押してください．</li>
</ol>
<ul>
{% if include.part == "important" %}
<li>ECCSクラウドメールの基本的な使い方（ログイン方法・メールの確認方法等）は下の<a href="#google">「ECCSクラウドメール」の項</a>をご覧ください．</li>
{% endif %}
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li><strong>「EX-076 エラーが発生しました。 EX-079 ディレクトリの他の属性値と同じため、新しいパスワードには設定できません。」と表示される場合</strong>：ECCSクラウドメールのパスワードは，UTokyo Accountのパスワードやユーザ名（10桁の数字）と同一であったり，これらを一部に含んでいたりしてはいけない，という制限があります．これに該当していると思われるので，この制限を避けたパスワードでもう一度試してみてください．</li>
  </ul>これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
</details>
</li>
</ul>
{% endcapture %}

{% unless include.part == "important" %}
<ul class="procedure">
{% endunless %}
{% include procedures/_important.html procedure=configure_password_and_email_address type="作業" heading="パスワードとメールアドレスを設定する" %}
{% unless include.part == "important" %}
<li><strong>確認：ログインしてみる</strong>
<ol>
<li>パスワードとメールアドレスを設定してから，反映に最大約40分かかるので，それまでしばらく待ってください．</li>
<li><a href="https://mail.google.com/a/g.ecc.u-tokyo.ac.jp">Googleのログイン画面</a>にアクセスしてください．</li>
<li>メールアドレス（上の手順で確認・変更したもの）を入力してください．</li>
<li>パスワード入力欄が現れるので，上の手順で設定したパスワードを入力してください．</li>
</ol>
<ul>
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li>
      <strong>「お客様が所有するアカウントであることを確認できませんでした。しばらくしてからもう一度お試しいただくか、アカウント復旧の手続きに沿って操作してください。」と表示される場合</strong>
      ：Googleにより「不審なログイン」として検知されています．Googleのシステムが自動的に判定しているため確実な対処法はありませんが，普段と異なる場所（ネットワーク・端末）からのログインの場合や一部のVPNを利用してアクセスしている場合に発生することが多いようであるため，別のネットワークや端末からアクセスしてみてください（モバイルネットワークの利用や，可能であればVPNを使わずにアクセスすることをお試しください）．また，頻繁に発生する場合は，<a href="https://www.ecc.u-tokyo.ac.jp/announcement/2019/03/19_2935.html">ECCSクラウドメールの2段階認証</a>を設定すると発生しづらくなるため，ご検討ください．
    </li>
  </ul>これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
</details>
</li>
</ul>
</li>
<li><strong>確認：東大のアカウント専用のページにアクセスできるか確認する</strong>
<ol>
<li><a href="https://docs.google.com/spreadsheets/d/16mWLhEldvrelJNJJ3oa4VlFpnMeSGYgfBja7pTpAL_s/edit?usp=sharing">ECCSクラウドメール専用のテストページ（Googleスプレッドシート）</a>にアクセスしてください．</li>
<li>もしログインしていなければ，メールアドレスとパスワードの入力を求められるので，上で設定したECCSクラウドメールのメールアドレスとパスワードを入力してください．</li>
<li>ページ（スプレッドシート）の内容を見ることができればOKです．ページの内容を見ることができず「アクセス権が必要です」のように出る場合は，アクセス権をリクエストせずに，下の「この手順がうまく行かないときのヘルプ」の案内に従ってください．</li>
</ol>
<ul>
<li>
<details open>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li><strong>（パソコン・スマホで）「アクセス権が必要です」と出て，下の方に「ログイン名: example@gmail.com」のような表示がある画面になる場合</strong>：ECCSクラウドメール以外のGoogleアカウント<small>（ @gmail.com や @<em style="font-style: normal; background-color: yellow;">edu.k</em>.u-tokyo.ac.jp などのアカウント）</small>でログインしているため生じています．下の方の「ログイン名: example@gmail.com」のように表示されているところを押すと，「アカウントの選択」という画面が出てアカウントが切り替えられるので，ECCSクラウドメールのアカウント (xxxx@<em style="font-style: normal; background-color: yellow;">g.ecc</em>.u-tokyo.ac.jp) を選んでください．ECCSクラウドメールのアカウントが出てこない場合は，「別のアカウントを使用」を選んでECCSクラウドメールにログインしてください．</li>
    <li><strong>（スマホで）「権限が必要です」や「アクセス権をリクエスト」という画面になる場合</strong>：ECCSクラウドメール以外のGoogleアカウントでログインしているため生じています．下の「スマホでログインする」の手順を行った後，アクセスし直してみてください．</li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
</details>
</li>
</ul>
</li>
<li><strong>任意の作業：スマホでログインする</strong>（GmailなどGoogleのアプリを使っている人向け）
<ol>
<li>GmailなどGoogleのアプリを開き，右上のアイコン（自分のアイコンか，設定していない場合は人のマーク）を押してください．</li>
<li>「別のアカウントを追加」を押して，Googleアカウントを追加します．</li>
<li>メールアドレスとパスワードの入力を求められるので，上で設定したECCSクラウドメールのメールアドレスとパスワードを入力してください．</li>
</ol>
</li>
<li><strong>練習：メールを使ってみる</strong>（Gmailで xxxx@g.ecc.u-tokyo.ac.jp というメールアドレスが使えます）
<ol>
<li><a href="https://mail.google.com/a/g.ecc.u-tokyo.ac.jp">Gmail</a>にアクセスしてください．</li>
<li>もしログインしていなければログインを求められるので，上の手順と同じようにしてログインしてください．</li>
<li>普通のGmailと同じように使えます．自分の他のメールアドレスにメールを送ってみたり，自分の他のメールアドレスから送ったメールが届くか確かめてみましょう．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
</ul>
{% endunless %}
