{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

{% capture login_steps %}
<ol>
<li><a href="https://itc-lms.ecc.u-tokyo.ac.jp/login">ITC-LMS</a>にアクセスして，「ログイン」を押してください．</li>
<li>既にUTokyo Accountにサインイン済みの場合を除き，UTokyo Accountのサインイン画面が表示されるので，サインインしてください．</li>
</ol>
{% endcapture %}
{% capture notification_steps %}
<ol>
<li>ログインした後，右上の「Settings」を押してください．</li>
<li>登録した授業の資料や課題の更新，担当の先生からのお知らせを受け取る方法を設定できます．LINEで通知を受け取りたい場合は，「通知用SNSアカウント」の欄にある「LINEから通知を受け取る」を押して連携し，「お知らせ通知」の欄をLINEで受け取るように設定してください．</li>
</ol>
{% endcapture %}
{% capture notification_help %}
  <details>
    <summary>この手順がうまくいかないときのヘルプ</summary>
    <ul>
      <li><strong>「転送先メールアドレス」の欄の「連携メールアドレス」が表示されない</strong>：UTASで登録したメールアドレスが，翌日以降に反映されます．登録したばかりだと表示されません．</li>
    </ul>
    これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
  </details>
{% endcapture %}

{% if include.part == "login" %}
{{ login_steps }}
{% elsif include.part == "notification" %}
{{ notification_steps }}
{{ notification_help }}
{% else %}
<ul class="procedure">
{% if page.slug == "oc" %}
<li><a href="https://youtu.be/xAur5zar5Sc">以下の手順の動画</a></li>
{% endif %}
<li><strong>練習：ログインしてみる</strong>
{{ login_steps }}
<ul>
<li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
{% if page.slug == "oc" %}
<li><strong>任意の作業：LINEと通知を連携する</strong>
{{ notification_steps }}
<ul>
<li>
{{ notification_help }}
</li>
</ul>
</li>
{% endif %}
</ul>
{% endif %}
