{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

{% if page.procedure == "oc" or page.procedure == "faculty_members" %}
<div style="border: 2px solid currentcolor; margin-bottom: 0.5em; padding: 0.5em; font-weight: bold; font-size: larger">
3月上旬に予定されている<a href="/change2021s/">システム変更</a>までの間は，利用前に申請が必要です．申請の手順は<a href="https://www.u-tokyo.ac.jp/adm/dics/ja/mslicense.html">UTokyo Microsoft Licenseのページ</a>をご覧ください．
</div>
{% endif %}

<ul class="procedure">
<li><strong>確認：サインインしてみる</strong>
<ol>
<li><a href="https://portal.office.com/">Microsoftへのサインインページ</a>にアクセスしてください．</li>
<li>サインイン画面が現れるので， <code>1234567890@utac.u-tokyo.ac.jp</code> のように，10桁の共通ID（UTokyo Accountのユーザ名）の後に東京大学であることを表す記号 <code>@utac.u-tokyo.ac.jp</code> を付けたものを入力してください．</li>
<li>UTASなどと同じような東京大学のユーザ名とパスワードを入力する画面が出たら，UTokyo Accountの情報を入力してください（この画面は，既に入力済みなら出ないこともあります）．</li>
<li>右上の丸いアイコン（名札のマーク）を押すと「The University of Tokyo」と表示されることを確認してください．</li>
</ol>
<ul>
<li>
<details><summary>この手順がうまくいかないときのヘルプ</summary><ul><li><strong>上のリンクにアクセスしても，サインイン画面が現れない場合</strong>：前から持っていた自分のアカウントで既にMicrosoftにサインインしているときに起きます．<a href="https://www.office.com/">Officeのトップページ</a>の右上にある丸いアイコン（自分のアイコンか，設定していない場合はイニシャルあるいは人のマーク）を押して，「サインアウト」してください．その後，アクセスし直してみてください．</li></ul>これらを確認して，それでもうまくいかなければ，<a href="/supports/">サポート窓口</a>に相談してください．</details>
</li>
</ul>
</li>
<li><strong>確認：東大のアカウント専用のページにアクセスできるか確認する</strong>
<ol>
<li><a href="https://univtokyo-my.sharepoint.com/:x:/g/personal/2615215597_utac_u-tokyo_ac_jp/EZN59-QgxfpHg7NX8Vc89wsBVE5wxTBpno2Z05UCwbkLUA?e=FaRkgq">東大のアカウント専用のテストページ (Excel Online)</a> にアクセスしてください．</li>
<li>もしサインインしていなければサインイン画面が表示されるので，上の手順と同じように， <code>1234567890@utac.u-tokyo.ac.jp</code> を入力してサインインしてください．</li>
<li>ページ（Excelファイル）の内容を見ることができればOKです．</li>
</ol>
<ul>
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li><strong>「エラーが発生しました 申し訳ございません。univtokyo-my.sharepoint.com のディレクトリに xxxx@example.com が見つかりません。」のようなエラーが出る場合</strong>：前から持っていた自分のアカウントで既にMicrosoftにサインインしているときに起きます．<a href="https://www.office.com/">Officeのトップページ</a>の右上にある丸いアイコン（自分のアイコンか，設定していない場合はイニシャルあるいは人のマーク）を押して，「サインアウト」してください．その後，アクセスし直してみてください．<a href="https://youtu.be/SiOS0M9FChk">パソコンの手順動画</a> <a href="https://youtu.be/QZGGHcQvUXU">スマホの手順動画</a></li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/supports/">サポート窓口</a>に相談してください．
</details>
</li>
</ul>
</li>
<li><strong>任意の作業：パソコンにWordやExcelをインストールする</strong>（既にインストール済みなら，それを使えば問題ありません）
<ol>
<li><mark>作成中</mark></li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/supports/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
</ul>
