{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

<ul class="procedure">
{% case page.slug %}{% when "oc" %}
<li><a href="/oc/movies#microsoft">手順動画</a></li>
{% endcase %}
<li><strong>確認：サインインしてみる</strong>
<ol>
<li><a href="https://myaccount.microsoft.com/">Microsoftへのサインインページ</a>にアクセスしてください．</li>
<li>サインイン画面が現れるので， <code>1234567890@utac.u-tokyo.ac.jp</code> のように，10桁の共通ID（UTokyo Accountのユーザ名）の後に東京大学であることを表す記号 <code>@utac.u-tokyo.ac.jp</code> を付けたものを入力してください（この画面は，既に入力済みなら出ないこともあります）．</li>
<li>既にUTokyo Accountにサインイン済みの場合を除き，UTokyo Accountのサインイン画面が表示されるので，サインインしてください．</li>
<li>左上に「東京大学」のロゴが表示された「マイ アカウント」画面が出ればOKです．</li>
</ol>
<ul>
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li><strong>上のリンクにアクセスしても，サインイン画面が現れない場合</strong>：前から持っていた自分のアカウントで既にMicrosoftにサインインしているときに起きることがあります．<a href="https://www.office.com/">Officeのトップページ</a>の右上にある丸いアイコン（自分のアイコンか，設定していない場合はイニシャルあるいは人のマーク）を押して，「サインアウト」してください．その後，アクセスし直してみてください．</li>
    <li><strong>「電話番号を確認します」と表示される場合</strong>：10桁の共通IDを数字のみ入力した場合に起きることがあります． <code>1234567890@utac.u-tokyo.ac.jp</code> のように，東京大学であることを表す記号 <code>@utac.u-tokyo.ac.jp</code> を付けたものを入力してください．</li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
</details>
</li>
</ul>
</li>
<li><strong>確認：東大のアカウント専用のページにアクセスできるか確認する</strong>
  <ol>
<li><a href="https://forms.office.com/r/E04PmwAizB">東大のアカウント専用のテストフォーム (Microsoft Forms)</a> にアクセスしてください．</li>
<li>もしサインインしていなければサインイン画面が表示されるので，上の手順と同じように， <code>1234567890@utac.u-tokyo.ac.jp</code> を入力してサインインしてください．</li>
<li>フォームの内容を見ることができればOKです（回答・送信する必要はありません）．</li>
</ol>
<ul>
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li><strong>「このフォームを表示したり、フォームに回答したりするためのアクセス許可がありません」のようなエラーが出る場合</strong>：前から持っていた自分のアカウントで既にMicrosoftにサインインしているときに起きます．<a href="https://www.office.com/">Officeのトップページ</a>の右上にある丸いアイコン（自分のアイコンか，設定していない場合はイニシャルあるいは人のマーク）を押して，「サインアウト」してください．その後，アクセスし直してみてください．<a href="https://youtu.be/SiOS0M9FChk">パソコンの手順動画</a> <a href="https://youtu.be/QZGGHcQvUXU">スマホの手順動画</a></li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
</details>
</li>
</ul>
</li>
<li><strong>任意の作業：パソコンにWordやExcelをインストールする</strong>（既にインストール済みなら，それを使えば問題ありません）
<ol>
<li><a href="https://portal.office.com/">Officeのページ</a>にアクセスしてください．</li>
<li>もしサインインしていなければサインイン画面が表示されるので，上の手順と同じように， <code>1234567890@utac.u-tokyo.ac.jp</code> を入力してサインインしてください．</li>
<li>画面右上に表示されている「アプリをインストール」を押して，続いて「Microsoft 365 Apps」を押してください．</li>
<li>以後の手順は場合によって異なります．インストールの完了まで自動で進むこともあれば，確認ボタンを押したり，ダウンロードしたファイルを自分で開いたりといった操作の必要があるかもしれません．</li>
<li>インストールしたWordやExcelを開き，左上に表示されている「サインイン」ボタンを押してください．</li>
<li>サインイン画面が現れるので， <code>1234567890@utac.u-tokyo.ac.jp</code> のように，10桁の共通ID（UTokyo Accountのユーザ名）の後に東京大学であることを表す記号 <code>@utac.u-tokyo.ac.jp</code> を付けたものを入力してください．</li>
<li>サインインが完了すると，WordやExcelのファイルが作成・編集できるようになります．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
</ul>
