{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

{% assign part = include.part %}
{% assign system = "UTokyo WiFi" %}

{% capture apply_for_account %}
<ul>
  {% case page.slug %}{% when "oc" %}
  <li><a href="/oc/movies#utokyo_wifi">手順動画</a></li>
  {% endcase %}
  <li>なお，既にアカウントを持っている場合，または2台目以降の場合は発行手続きは必要ありません．最初にアカウントを発行したときのアカウント情報を利用して，UTokyo WiFiに接続することができます．</li>
</ul>
<ol>
  {% case page.slug %}{% when "oc" %}
    <li>「<a href="https://netacm.adm.u-tokyo.ac.jp/secure/user_applies/index/1/">UTokyo WiFiアカウントメニュー</a>」からUTokyo Accountでサインインしてください．</li>  
  {% when "utokyo_wifi" %}
    <li>以下の「UTokyo WiFiアカウントメニュー」からUTokyo Accountでサインインしてください．</li>
  {% endcase %}
  <li>「新規申請」ボタンを押してください．</li>
  <li>「通知用メールアドレス」の欄に，{%
    case page.slug %}{%
      when "oc"
        %}UTASで登録したメールアドレス{%
      when "faculty_members"
        %}人事情報MyWebで登録したメールアドレス{%
      else
        %}手順2で登録したメールアドレス{%
    endcase
  %}が表示されているので，確認してください．このメールアドレスに，UTokyo WiFiへの接続に必要なアカウント情報（ユーザーID，パスワード）が書かれた通知メールが届きます．</li>
  <li>「申請」ボタンを押して，アカウントを新規に取得してください．</li>
  <li>しばらく待つと通知メールが届きます．</li>
</ol>
{% case page.slug %}{% when "utokyo_wifi" %}
  <div style="border: 2px solid currentcolor; margin: 1em 0 2em; padding: 0.5em; font-weight: bold; text-align: center;">
  <a href="https://netacm.adm.u-tokyo.ac.jp/secure/user_applies/index/1/">UTokyo WiFiアカウントメニュー（国内のみ）</a>
</div>
{% endcase %}
<ul>
  <li>
    <details>
      <summary>この手順がうまくいかないときのヘルプ</summary>
      <ul>
        <li><strong>アカウントメニューにアクセスできない場合</strong>：
          <ul>
            <li>アカウントメニューは一般的に国内ネットワークと見なされるネットワークからのみアクセスすることができます．アクセスができなかった場合には，学内のECCS端末を利用した申請を検討してください．詳しくは<a href="https://www.ecc.u-tokyo.ac.jp/guest_account.html">ECCSのウェブサイト</a>をご確認ください．</li>
          </ul>
          <li><strong>以下のような画面が出てアカウントメニューにアクセスできない場合</strong>:
              <img src="/utokyo_wifi/img/account_menu_login_denied.png" class="small">
            <ul>
            {% case page.slug %}{% when "utokyo_wifi" %}
              <li> 情報セキュリティ教育を受講していないため，アカウントが停止されています．詳細は「<a href="#jouhou-security">情報セキュリティ教育</a>」を参照してください．</li>
            {% else %}
              <li> 情報セキュリティ教育を受講していないため，アカウントが停止されています．詳細は<a href="/utokyo_wifi#jouhou-security">UTokyo WiFiのページの「情報セキュリティ教育」</a>を参照してください．</li>
            {% endcase %}
            </ul>
          </li>
        </li>
        <li><strong>通知メールが届かない場合</strong>：
          <ul>
            <li>迷惑メールフォルダなどに紛れ込んでいないかどうか，再度確認してください．</li>
            <li>メールは，申請画面の「通知用メールアドレス」欄に表示されているメールアドレス（{%
                case page.slug %}{%
                  when "oc"
                    %}UTASの「E-MAIL 1」に登録したメールアドレス{%
                  when "faculty_members"
                    %}人事情報MyWebで登録したメールアドレス{%
                  else
                    %}学生はUTASの「E-MAIL 1」に登録したメールアドレス，教職員は人事情報MyWebで登録したメールアドレス{%
                endcase
              %}）に届きます．違うメールアドレスを見ていないか確認してください．</li>
            <li>メールアドレスによっては正しくメールが配送されないケースがあります．特に，@icloud.com のメールアドレスには届かないことがわかっています．また，Gmail (@gmail.com) のメールアドレスは遅れて届く場合が多いことがわかっています．メールアドレスの登録を他のものに変更して，翌日以降に再度申請してください．ECCSクラウドメール (@g.ecc.u-tokyo.ac.jp) での登録を推奨します．</li>
            <li>UTokyo WiFiのアカウントは，学生の場合は学務システムに，教職員等の場合は人事情報システムに，それぞれ前日までに登録されているメールアドレスに対して通知されます．意図したメールアドレスが正しく登録されているかどうか確認してください．なお，メールアドレスを登録・変更しただけではメールは再送されません．メールアドレスを変更した翌日以降に改めて「新規申請」ボタンを押してアカウントを再発行してください．</li>
          </ul>
        </li>
      </ul>
    </details>
  </li>
</ul>
{% endcapture %}

{% unless include.part == "important" %}
<ul class="procedure">
{% endunless %}
{% case page.slug %}{% when "oc" %}
  {% include procedures/_important.html procedure=apply_for_account type="作業" heading="アカウントを申請する" %}
  {% when "utokyo_wifi" %}
  {% include procedures/_important.html procedure=apply_for_account type="手順3" heading="UTokyo WiFiアカウントの発行を申請する．" %}
{% endcase %}
{% unless include.part == "important" %}
{% case page.slug %}{% when "oc" %}
  <li><strong>作業：実際につないでみる</strong>
  {% when "utokyo_wifi" %}
  <li><strong>手順4：UTokyo WiFiが接続可能なネットワークとして表示されている場所で接続をする．</strong>
{% endcase %}
    <ul>
      <li>この作業は教室など，UTokyo WiFi（SSIDが <code>UTokyo-WiFi</code> となっているワイヤレスネットワーク）が見える場所でしかできません．</li>
    </ul>
    <ol>
      {% case page.slug %}{% when "utokyo_wifi" %}
      <li>手順1で用意した端末のWi-Fi接続設定画面で，UTokyo WiFiを選んでください．場合によっては，証明書を確認したり，「<a href="#connect-configuration">接続の詳細な設定</a>」に書かれた情報を利用する必要があるかもしれません．</li>
      <li>接続しようとするとユーザーIDとパスワードを聞かれるので，手順3で届いたメールに書かれたアカウント情報を入力します（UTokyo Accountの情報ではありません）．</li>
      {% else %}
      <li>先ほど用意した端末のWi-Fi接続設定画面で，UTokyo WiFiを選んでください．</li>
      <li>場合によっては，証明書を確認する必要があるかもしれません．</li>
      <li>接続しようとするとユーザーIDとパスワードを聞かれるので，先ほどの手順で届いたメールに書かれたアカウント情報を入力します（UTokyo Accountの情報ではありません）．</li>
      {% endcase %}
      <li>接続が完了すれば，後は普通のWi-Fiと同様に使えます．</li>
    </ol>
    <ul>
      <li>PC等，各種端末での設定方法が分からない場合，<a href="https://www.sodan.ecc.u-tokyo.ac.jp/?page_id=3996">ECCS相談員のページ</a>を参照してください．
        また，eduroamと同様にして設定することもできます．<a href="https://www.eduroam.jp/for_users/">eduroamのページ</a>の利用の手引きにOSごとの設定方法が書いてありますので，"eduroam"を"UTokyo-WiFi"に読み替えることで設定が可能です．</li>
      <li>
        <details>
          <summary>この手順がうまくいかないときのヘルプ</summary>
          <ul>
            <li><strong>接続ができない場合</strong>：
              <ul>
                <li>電波が弱いと作業中に接続が途切れてしまってうまくいかないことがあります．場所や時間帯を変えて試してみてください．</li>
                <li>ユーザーIDはアルファベット（sまたはw）から始まる8桁の英数字です．アルファベットの部分も含めて入力してください．</li>
                <li>パスワードに含まれる記号を正しく入力しているか確認してください．通知メールからコピーアンドペーストして入力してみてください．</li>
                <li>通知メールからコピーアンドペーストして入力している場合は，前後に余計な空白が入っていないか確認してください．</li>
                <li>途中でうまくいかなくてアカウントの申請を複数回行った場合，そのうち1つのアカウントだけが有効になります．UTokyo WiFiアカウントメニューに表示されているアカウントのみが有効なので，確認してください．</li>
                <li>利用する機器が最新の状態ではないために起こる場合もあります．古いMacOS，Windows 7以前，アップデートをしていない機器（スマホ等）は接続までに，最新のバージョンにしてください．</li>    
              </ul>
            </li>
            <li><strong>以前に接続できていたが，アカウントを再発行してから繋がらない場合</strong>：
              <ul>
                <li> 端末が以前のアカウントの認証情報を記憶してしまっている場合があります．
                <li> Wi-Fiの認証情報の削除方法はOSや端末の種類によります．それぞれの端末のマニュアルを参照してください．</li>
                <li> WindowsやiOSについては，それぞれ<a href="https://www.sodan.ecc.u-tokyo.ac.jp/faq/utokyo-wifi-win10/">ECCS相談員のページ</a>と公式ヘルプ「<a href="https://support.apple.com/ja-jp/HT208941">iPhone、iPad、iPod touch、Mac で Wi-Fi ネットワークの設定を削除する方法</a>」も参考にしてください．</li>
                </li>
              </ul>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </li>
</ul>
{% endunless %}
