{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照のこと
{% endcomment %}

{% assign part = include.part %}
{% assign system = "UTokyo Account" %}

{% capture change_initial_password %}
<ul>
{% case page.slug %}{% when "oc" %}
<li><a href="/oc/movies#utokyo_account">手順動画</a></li>
{% endcase %}
</ul>
<ol>
<li>所属の学部・研究科等から，初期パスワードが記載された「パスワード通知書」を受け取ってください{%
  case page.slug %}{%
    when "oc"
      %}．授業開始に十分間に合うように配布されるはずですが，不明な場合は所属の学部・研究科等に問い合わせてみてください（※学部1年生には3月22日から「<a href="https://utas-ew.adm.u-tokyo.ac.jp/">合格者情報登録システム</a>」で配布されます）．{%
    when "faculty_members"
      %}．授業に必要な教員には発行されているはずですが，もらっていない場合は所属部局の事務に問い合わせてください．{%
    when "utokyo_account"
      %}．
        <ul>
          <li><strong>学生</strong>：授業開始に十分間に合うように配布されるはずですが，不明な場合は所属の学部・研究科等に問い合わせてみてください（※学部1年生には「<a href="https://utas-ew.adm.u-tokyo.ac.jp/">合格者情報登録システム</a>」で配布されます）</li>
          <li><strong>教職員</strong>：授業に必要な教員には発行されているはずですが，もらっていない場合は所属部局の事務に問い合わせてください．</li>
        </ul>
      {%
    else
      %}（もらっていない場合は，所属の学部・研究科等に問い合わせてみてください）．{%
  endcase
%}</li>
<li><a href="https://utacm.adm.u-tokyo.ac.jp/webmtn/LoginServlet">UTokyo Account利用者メニュー</a>に，「パスワード通知書」に記載されたユーザ名とパスワードでログインしてください．</li>
<li>左上の「ユーザパスワード変更」を押して，パスワードを変更してください（初期パスワードのままでは，各種サービスを利用することができません）．新しいパスワードを決める際には，パスワードの強度を示す表示が「強い」または「とても強い」になるようにしてください．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
{% endcapture %}

{% unless include.part == "important" %}
<ul class="procedure">
{% endunless %}
{% include procedures/_important.html procedure=change_initial_password type="作業" heading="初期パスワードを変更する" %}
{% unless include.part == "important" %}
<li><strong>任意の作業：「多要素認証」を設定する</strong>
<ul>
  <li>「多要素認証 (Multi-Factor Authentication, MFA)」とは，アカウントへのサインイン時に，パスワードに加えて，SMSや専用のアプリなどで本人確認を行う認証方法です．UTokyo Accountでは，セキュリティの観点から設定を行うことを推奨していますが，現時点では必須ではありません．</li>
</ul>
<ol>
  <li>「<a href="/utokyo_account/mfa/">UTokyo Accountにおける多要素認証の利用について</a>」のページに記載の手順で，設定を行ってください．</li>
</ol>
<ul>
  <li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
</ul>
{% endunless %}
