{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

<ul class="procedure">
<li><strong>作業：アカウントを申請する</strong>
<ul>
<li>{%
  case page.procedure %}{%
    when "oc"
      %}UTASにメールアドレスを登録した翌日以降に作業してください（まだ登録していない人は，<a href="#UTAS">UTAS</a>のところに書かれている手順で登録してください）．{%
    when "faculty_members"
      %}人事情報MyWebにメールアドレスが登録されていない場合，申請できません．まだの場合はあらかじめ登録を済ませ，その翌日以降に作業してください．{%
    else
      %}メールアドレスが登録されていない場合，申請できません．学生はUTASでの登録，教職員は人事情報MyWebでの登録を（まだの場合）あらかじめ済ませ，その翌日以降に作業してください．{%
  endcase
%}</li>
</ul>
<ol>
<li><a href="https://www.u-tokyo.ac.jp/adm/dics/ja/wifi.html">UTokyo WiFiのページ</a>にアクセスして，注意事項をよく読んでください．</li>
<li>ページ内の「UTokyo WiFi アカウントメニュー」ボタンを押してください．</li>
<li>ユーザ名とパスワードの入力を求められたら，UTokyo Account{% if page.procedure != "oc" and page.procedure != "faculty_members" %}（10桁の共通ID）{% endif %}の情報を入力してください．</li>
<li>「新規申請」ボタンを押してください．</li>
<li>「通知用メールアドレス」の欄に，{%
    case page.procedure %}{%
      when "oc"
        %}UTASで登録したメールアドレス{%
      when "faculty_members"
        %}人事情報MyWebで登録したメールアドレス{%
      else
        %}メールアドレス（学生はUTASで登録したもの，教職員は人事情報MyWebで登録したもの）{%
    endcase
  %}が表示されているので，確認してください．このメールアドレスにパスワードなどの情報が届きます．</li>
<li>「申請」ボタンを押してください．</li>
</ol>
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li><strong>「通知用メールアドレス」の欄にメールアドレスが表示されない場合</strong>：メールアドレスが登録できていません．{%
      case page.procedure %}{%
        when "oc"
          %}UTASにメールアドレスを登録した翌日以降に作業してください（まだ登録していない人は，<a href="#UTAS">UTAS</a>のところに書かれている手順で登録してください）．{%
        when "faculty_members"
          %}人事情報MyWebにメールアドレスを登録した翌日以降に作業してください{%
        else
          %}学生はUTASでの登録，教職員は人事情報MyWebでの登録を（まだの場合）あらかじめ済ませ，その翌日以降に作業してください．{%
      endcase
    %}</li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/supports/">サポート窓口</a>に相談してください．
</details>
</li>
</li>
<li><strong>作業：ユーザーIDとパスワードを確認する</strong>
<ol>
<li>アカウントの申請後しばらくすると，注意事項やユーザーID・パスワードなどの情報が書かれた通知メールが届くので，確認してください．</li>
</ol>
<ul>
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li>迷惑メールを確認してください．</li>
    <li>メールは，申請画面の「通知用メールアドレス」欄に表示されているメールアドレス（{%
        case page.procedure %}{%
          when "oc"
            %}UTASの「E-MAIL 1」に登録したメールアドレス{%
          when "faculty_members"
            %}人事情報MyWebで登録したメールアドレス{%
          else
            %}学生はUTASの「E-MAIL 1」に登録したメールアドレス，教職員は人事情報MyWebで登録したメールアドレス{%
        endcase
      %}）に届きます．違うメールアドレスを見ていないか確認してください．</li>
    <li>メールアドレスによっては、メールが届かなかったり遅れて届く場合があります． @icloud.com のメールアドレスには届かないことがわかっています．また，Gmail (@gmail.com) のメールアドレスには遅れて届く場合が多いことがわかっています．メールアドレスの登録を他のものに変更して，翌日以降に再度申請してください．登録するメールアドレスはECCSクラウドメール (@g.ecc.u-tokyo.ac.jp) が推奨です．</li>
  </ul>
  これらを確認して，それでもうまくいかなければ，<a href="/supports/">サポート窓口</a>に相談してください．
</details>
</li>
</ul>
</li>
<li><strong>作業：実際につないでみる</strong>
<ul>
<li>この作業はキャンパス内のUTokyo WiFiが使える場所でしかできません．</li>
</ul>
<ol>
<li>UTokyo WiFiは名前 (SSID) が <code>UTokyo-WiFi</code> のWi-Fiです．機器（スマホやパソコン）のWi-Fi接続画面でこれを選んでください．</li>
<li>機器によっては，証明書を確認するなどの手順が必要かもしれません．</li>
<li>ユーザーIDとパスワードの入力を求められたら，申請後に届いた通知メールに書かれているユーザーIDとパスワードを入力してください（UTokyo Accountの情報ではありません）．</li>
<li>接続が完了すれば，あとは普通のWi-Fiと同じように使えます．</li>
</ol>
<ul>
<li>
<details>
  <summary>この手順がうまくいかないときのヘルプ</summary>
  <ul>
    <li>電波が弱いと作業中に接続が途切れてしまってうまくいかないことがあります．場所や時間帯を変えて試してみてください．</li>
    <li>ユーザーIDはアルファベット（sまたはw）から始まる8桁の英数字です．アルファベットの部分も含めて入力してください．</li>
    <li>パスワードに含まれる記号を正しく入力しているか確認してください．通知メールからコピーアンドペーストして入力してみてください．</li>
    <li>通知メールからコピーアンドペーストして入力している場合は，前後に余計な空白が入っていないか確認してください．</li>
    <li>途中でうまくいかなくてアカウントの申請を複数回行った場合，そのうち1つのアカウントだけが有効になります．UTokyo WiFi アカウントメニューに表示されているアカウントのみが有効なので，確認してください．</li>
  </ul>
  これらを確認して，それでもうまくいかなければ，窓口に相談してください．<a href="https://www.sodan.ecc.u-tokyo.ac.jp/about-us/tutors-working/">学生スタッフのECCS相談員がキャンパス内の複数の場所に配置されており</a>，対面で直接相談することができます．また，このサイトの<a href="/supports/">サポート窓口</a>でも相談を受け付けています．
</details>
</li>
</ul>
</li>
</ul>
