{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

{% if page.slug == "oc" or page.slug == "faculty_members" %}
<div style="border: 2px solid currentcolor; margin-bottom: 0.5em; padding: 0.5em; font-weight: bold; font-size: larger">
以下の手順は3月中旬に予定されている<a href="/change2021s/">システム変更</a>の後のものです．現在の手順は「<a href="/webex/create_utelecon_account">Webexアカウントの作成とログイン</a>」のページをご覧ください．
</div>
{% endif %}

<ul class="procedure">
<li><strong>確認：サインインしてみる</strong>
<ol>
<li><a href="https://utelecon.webex.com/">東京大学のWebexページ</a>にアクセスして，右上の「サインイン」を押してください．</li>
<li><code>1234567890@utac.u-tokyo.ac.jp</code> のように，10桁の共通ID（UTokyo Accountのユーザ名）の後に東京大学であることを表す記号 <code>@utac.u-tokyo.ac.jp</code> を付けたものを入力してください．</li>
<li>自分の名前や「ミーティングを開始する」ボタンが表示されている画面になればOKです．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/supports/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
<li><strong>作業：パソコンにアプリをインストールする</strong>
<ol>
<li><a href="https://utelecon.webex.com/webappng/sites/utelecon/dashboard/download">Webexのダウンロードページ</a>にアクセスしてください．</li>
<li>一番上の「Cisco Webex Meetings デスクトップアプリ」にある「ダウンロード」ボタンを押してください．</li>
<li>以後の手順は場合によって異なります．インストールの完了まで自動で進むこともあれば，確認ボタンを押したり，ダウンロードしたファイルを自分で開いたりといった操作の必要があるかもしれません．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/supports/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
<li><strong>任意の作業：スマホにアプリをインストールする</strong>
<ol>
<li>Androidの人は<a href="https://play.google.com/store/apps/details?id=com.cisco.webex.meetings">Google Play</a>から，iPhoneの人は<a href="https://itunes.apple.com/us/app/cisco-webex-meetings/id298844386">App Store</a>からインストールしてください．</li>
</ol>
</li>
<li><strong>確認：会議室に入ってみる</strong>
<ul>
<li><mark>作成中</mark></li>
</ul>
</li>
<li><strong>任意の作業：アプリにサインインする</strong>{% if page.slug == "oc" %}（自分で会議を開く機会がある人などには便利です）{% endif %}
<ul>
<li>この項目の説明は準備中です．</li>
</ul>
</li>
{% if page.slug != "oc" %}
<li><strong>練習：会議室を作ってみる</strong>
<ol>
<li><mark>作成中</mark></li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/supports/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
{% endif %}
</ul>
