{% comment %}
このファイルについての詳細はこのディレクトリのREADME.mdを参照してください
{% endcomment %}

<ul class="procedure">
{% case page.slug %}{% when "oc" %}
<li><a href="/oc/movies#zoom">手順動画</a></li>
{% endcase %}
<li><strong>確認：サインインしてみる</strong>
<ol>
<li><a href="https://u-tokyo-ac-jp.zoom.us/">UTokyo Zoom</a>のページにアクセスしてください（これは東京大学専用のZoomのページで，通常のZoomのサインインページとは異なるので，注意してください）．</li>
<li>「UTokyo Zoom」と書かれたページが表示されるので，そのページにある「Config」と書かれたボタンを押してください．</li>
<li>既にUTokyo Accountにサインイン済みの場合を除き，UTokyo Accountのサインイン画面が表示されるので，サインインしてください．</li>
<li>サインインが完了します．右上のアイコン（人のマークか，または自分のアイコンを設定していればそれ）を押したときに，自分の共通IDとともに「ライセンス ユーザー」と表示されれば，OKです．</li>
</ol>
<ul>
<li>
  <details>
    <summary>この手順がうまくいかないときのヘルプ</summary>
    <ul>
      <li><strong>上のリンクにアクセスしても「UTokyo Zoom」と書かれたページが表示されない場合</strong>：前から持っていた自分のアカウントで既にZoomにサインインしているときに起きます．<a href="https://zoom.us/profile">Zoomの設定画面</a>の右上のアイコン（人のマークか，または自分のアイコンを設定していればそれ）を押して，「サインアウト」してください．その後，アクセスし直してみてください．</li>
    </ul>
    これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
  </details>
</li>
</ul>
</li>
<li><strong>作業：パソコンにアプリをインストールする</strong>
<ol>
<li>Zoomの「<a href="https://zoom.us/download">ダウンロードセンター</a>」にアクセスしてください．</li>
<li>一番上の「Zoom デスクトップ クライアント」にある「ダウンロード」ボタンを押してください．</li>
<li>以後の手順は場合によって異なります．インストールの完了まで自動で進むこともあれば，確認ボタンを押したり，ダウンロードしたファイルを自分で開いたりといった操作の必要があるかもしれません．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
<li><strong>任意の作業：スマホにアプリをインストールする</strong>{% if page.slug == "oc" %}（必須ではありませんが，やっておくと，パソコンの調子がおかしいときなど，いざというときに安心です）{% endif %}
<ol>
<li>Androidの人は<a href="https://play.google.com/store/apps/details?id=us.zoom.videomeetings">Google Play</a>から，iPhoneの人は<a href="https://itunes.apple.com/us/app/id546505307">App Store</a>からインストールしてください．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
<li><strong>確認：東大のアカウント専用の会議室に入ってみる</strong>{% if page.slug == "oc" %}（実際に授業で使う予定の機器でやっておきましょう．また，予備としてパソコンだけでなくスマホでもやっておくと安心です）{% endif %}
<ol>
<li>会議室では，あなたのマイクの音声やカメラの映像が他の人に送られることがあります（ここで使うテスト用の会議室では，入っただけではそうならないようになっていますが，いろいろ試しているうちにそういうことがあるかもしれません）．気になる人は，音声や映像が送られても大丈夫な状況で行ってください．</li>
<li><a href="https://itc-lms.ecc.u-tokyo.ac.jp/lms/course?idnumber=20197J919010V02">ITC-LMSの練習用ページ</a>に書かれているテスト用会議室のURLにアクセスしてください．</li>
<li>確認ボタンを押したり，開くアプリを選択するよう求められたりするかもしれません．</li>
<li>Zoomのアプリが開いた後に，「他のユーザーの音声を聞くにはオーディオに接続してください」というメッセージが表示されたら，「インターネットを使用した通話」を押してください．</li>
<li>下の方に「ビデオの開始」や「参加者」などと書かれた黒い画面になれば，会議室に入れています．</li>
</ol>
<ul>
<li>
  <details>
    <summary>この手順がうまくいかないときのヘルプ</summary>
    <ul>
      <li><strong>会議室のURLにアクセスすると，アプリのインストールを求められる，または，アプリのインストールが始まる場合</strong>：アプリがうまくインストールできていないときに起きます．そのままアプリをインストールしてみて，うまくいけば，その後にもう一度アクセスしてみてください．</li>
      <li><strong>「このミーティングの対象者は権限のある参加者のみです」・「このミーティングに参加できません」などと表示される場合</strong>：東大のアカウントでサインインしていないときに起きます．「このミーティングには認証が必要です」と表示される場合も同様です．「サインインして参加」または「アカウントを切り替えて参加」または「サインイン」というボタンを押して，下の「任意の作業：アプリにサインインする」の手順でサインインしてください．</li>
    </ul>
    これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
  </details>
</li>
</ul>
</li>
<li><strong>任意の作業：アプリにサインインする</strong>{% if page.slug == "oc" %}（自分で会議を開く機会がある人などには便利です）{% endif %}
<ol>
<li>Zoomアプリを開き，「サインイン」ボタンを押してください．</li>
<li>サインイン画面で，「SSOでサインイン」と書かれた文字を探して押してください．</li>
<li>「会社のドメイン」の欄に，<code>u-tokyo-ac-jp</code>と入力してください（<code>ac</code>の前後はピリオドではなくハイフンであることに注意してください）．</li>
<li>既にUTokyo Accountにサインイン済みの場合を除き，UTokyo Accountのサインイン画面が表示されるので，サインインしてください．</li>
<li>パソコンの場合は右上のアイコン（自分のアイコンか，設定していない場合は人のマーク），スマホの場合は右下の「詳細」を押して表示される画面で，自分の名前（設定していない場合は共通ID）と「ライセンス ユーザー」の表示が出ていれば，正しくサインインできています．</li>
</ol>
<ul>
<li>
  <details>
    <summary>この手順がうまくいかないときのヘルプ</summary>
    <ul>
      <li>
        <strong>「会社のドメイン」を入力した後に「このサイトにアクセスできません」「申し訳ございません。このページに到達できません」「サーバが見つかりません」「アクセスしようとしているサイトが見つけられません」などと表示される場合</strong>
        ：「会社のドメイン」を正しく入力できていない場合に起きます．<code>u-tokyo-ac-jp</code>と入力しているか，もう一度確認してください．特に，<code>ac</code>の前後はピリオドではなくハイフンであることに注意してください．
      </li>
    </ul>
    これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
  </details>
</li>
</ul>
</li>
{% if page.slug != "oc" %}
<li><strong>練習：会議室を作ってみる</strong>
<ol>
<li><a href="https://u-tokyo-ac-jp.zoom.us/">UTokyo Zoom</a>のページにアクセスし，「Config」と書かれたボタンを押してください．</li>
<li>既にUTokyo Accountにサインイン済みの場合を除き，UTokyo Accountのサインイン画面が表示されるので，サインインしてください．</li>
<li>右上にある「ミーティングをスケジュールする」を押してください．</li>
<li>会議室の詳細を設定する画面が表示されます．練習なので，よくわからない項目は飛ばすなど適当に入力して，一番下の「保存」を押してください．</li>
<li>作成された会議室の情報を確認できる画面に移動します．「招待リンク」欄に会議室のURLが表示されており，このURLから会議室に入室できるようになっています．</li>
</ol>
<ul>
<li>この手順がうまくいかないときは<a href="/support/">サポート窓口</a>に相談してください．</li>
</ul>
</li>
{% endif %}
</ul>
