// ナビゲーションバー
.gnav {
  font-size: 1.1rem;
  display: flex;
  max-height: 4rem;
  margin: 0 auto;
  padding-inline-start: 0px;
}

@media (min-width: 672px) {
  .gnav {
    max-height: 2rem;
  }
}

.gnav > li {
  width: 50%;
}

.gnav li {
  display: block;
  list-style: none;
  position: relative;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.gnav li a {
  color: #fff;
  display: block;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

// 子要素

.gnav ul {
  padding-inline-start: 0px;
}

.gnav li li {
  background: #4d6675;
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.gnav li li a {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.gnav li > ul {
  padding-inline-start: 0px;
}

.gnav li:hover > ul > li {
  max-height: 12rem;
  overflow: visible;
}

@media screen and (max-width: 650px) {
  .menu-container .gnav {
    display: none;
    position: absolute;
    width: 100%;
  }
}

.js-hiraku-offcanvas-body-right .js-hiraku-header-fixed {
  margin-left: -300px;
}

.js-hiraku-offcanvas-body-left .js-hiraku-header-fixed {
  margin-left: 300px;
}

.js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar-left {
  margin-left: -300px;
}

.js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar-right {
  margin-right: 300px;
}

.js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar {
  width: 300px;
}

.js-hiraku-offcanvas-body-left {
  left: 300px;
}

.js-hiraku-offcanvas-body-right {
  right: 300px;
}
