footer {
  background-color: $footer-background-color;
  color: white;
  :link, :visited {
    color: white;
    text-decoration: none;
  }
  padding: 2rem 4rem;
  @media (max-width: 48rem) {
    padding: 2rem 2rem;
  }
  @media (max-width: 32rem) {
    padding: 2rem 1rem;
  }
}
.footer__logo {
  text-align: center;
  &__utokyo {
    width: 16rem;
    max-width: 37.5%;
  }
  &__utelecon {
    margin: 1rem;
  }
}
.footer__nav {
  :link:hover, :visited:hover {
    text-decoration: underline;
  }
  & > ul {
    column-count: 2;
    column-gap: 4rem;
    padding: 0;
    & > li {
      display: block;
      break-inside: avoid;
      padding-top: 1em;
      & > div {
        font-weight: bold;
      }
      & > ul {
        padding-left: 1em;
        li {
          display: block;
        }
      }
    }
    @media (max-width: 48rem) {
      column-count: auto;
    }
    @media (min-width: 72rem) {
      column-count: 3;
    }
    @media (min-width: 96rem) {
      display: flex;
      justify-content: space-around;
      column-count: auto;
      column-gap: normal;
    }
  }
}
