footer {
  background-color: $footer-background-color;
  color: white;
  :link,
  :visited {
    color: white;
    text-decoration: none;
  }
  padding: 2rem 4rem;
  @media (max-width: 48rem) {
    padding: 2rem 2rem;
  }
  @media (max-width: 32rem) {
    padding: 2rem 1rem;
  }
}
.footer__logo {
  text-align: center;
  &__utokyo {
    width: 16rem;
    max-width: 62.5%;
  }
  &__utelecon {
    display: block;
    margin: 2rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer__nav {
  :link:hover,
  :visited:hover {
    text-decoration: underline;
  }
  & > ul {
    column-count: 2;
    column-gap: 4rem;
    padding: 0;
    & > li {
      display: block;
      break-inside: avoid;
      padding-top: 1em;
      & > div {
        font-weight: bold;
      }
      & > ul {
        padding-left: 1em;
        li {
          display: block;
        }
      }
    }
    @media (max-width: 48rem) {
      column-count: auto;
    }
    @media (min-width: 72rem) {
      column-count: 3;
    }
    @media (min-width: 96rem) {
      display: flex;
      justify-content: space-around;
      column-count: auto;
      column-gap: normal;
    }
  }
}
.footer-wrap {
  display: flex;
  // justify-content: space-evenly;
  position: fixed;
  right: 0;
  bottom: 0;
  
  @media print {
    display: none;
  }

  padding: 12px 4px 10px;

  @media (min-width: 32rem) {
    background-color: #fff;
    border: solid 1px #ccc;

    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px 0;

    right: 1rem;
  }

  .pc-only {
    @media (max-width: 32rem) {
      display: none;
    }
  }

  .footer-item {
    width: 90px;
    flex: 1 1 0%;
    text-align: center;

    cursor: pointer;

    @media (max-width: 32rem) {
      width: 60px;
    }

    .footer-link {
      // display: inline-block;
      display: flex;
      align-items: center;
      margin: 0 auto;

      // bottom: 1rem;
      // margin: 0 0.25rem;
      // color: black;

      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $footer-background-color;

      @media (max-width: 32rem) {
        border: solid 1px #fff;
        box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px 0;
      }

      text-decoration: none;

      transition: all 0.2s ease-in-out;

      .icon {
        display: block;
        margin: 0 auto;

        font-family: "Material Icons";
        font-size: 22px;
        text-transform: none;
        // align-items: center;
        color: white;
        // display: inline-block;
        white-space: nowrap;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
    }

    .footer-description {
      text-align: center;
      margin-top: 6px;

      font-size: 12px;

      white-space: nowrap;

      @media (max-width: 32rem) {
        display: none;
      }
    }

    &:hover {
      .footer-link {
        background-color: $body-link-color;
      }

      .footer-description {
        color: $body-link-color;
      }
    }
  }
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v92/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
}
