.header__main {
  color: white;
  background-color: $header-bg-color;
  background-image: linear-gradient(
    120deg,
    $header-bg-color-secondary,
    $header-bg-color
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  .header-left {
    display: flex;
    align-items: center;
    .bar-btn-normal {
      display: none;
    }

    .header-logo {
      margin: 10px 0 0 10px;
      a {
        display: block;
      }
      img {
        margin: 0 0 5px;
        width: 100px;
        display: block;
      }
      p {
        font-size: 12px;
        margin: 0;
      }
    }
  }
  .header-right {
    padding: 0 10px;
    img {
      width: 18px;
      margin: 0 5px;
    }
    a {
      color: white;
      font-size: 14px;
    }
  }
  @media (max-width: 801px) {
    .header-left {
      .bar-btn-normal {
        display: block;
      }
      img {
        margin: 10px;
        width: 80px;
      }
    }
    .header-right {
      display: none !important;
    }
  }
}

//search-box
.gsc-input .gsc-input-box {
  height: 30px !important;
  width: 100% !important;
  border-radius: 20px 0 0 20px !important;
  color: black;
}

.gsc-search-button .gsc-search-button-v2 {
  height: 30px !important;
  border-radius: 0 20px 20px 0 !important;
}

.gsc-control-cse {
  border: none !important;
  background: none !important;
}
.gsc-input-box {
  .gsc-input {
    border-radius: 20px !important;
  }
}
.gsc-input {
  padding-right: 0 !important;
}

.gsc-control-cse.gsc-control-cse-ja {
  padding: 0;
  height: 30px;
  margin: 0 10px 0 0;
}

.gsc-search-button {
  margin-left: 0 !important;
}
.gsib_a {
  padding: 2px !important;
}

// navigation bar
.top_menu {
  background-color: $header-bg-color;
  background-image: linear-gradient(
    120deg,
    $header-bg-color-secondary,
    $header-bg-color
  );
}

.menu {
  color: white;
  position: relative;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-inline-start: 0;
  .menu__single {
    list-style: none;
    border-right: white thin solid;
    border-left: white thin solid;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  & > li {
    float: left;
    width: 20%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    &:hover {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
    a {
      display: block;
      color: #fff;
      &:hover {
        cursor: default;
        text-decoration: none;
      }
    }
  }
}

ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  padding: 0;
  li {
    border-top: 1px solid white;
    a:hover {
      background: darken($header-bg-color-secondary, 10%);
    }
  }
}

.menu__third-level li {
  border-top: 1px solid white;
}

.init-bottom:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu:before,
.menu:after {
  content: " ";
  display: table;
}

.menu:after {
  clear: both;
}

.menu {
  *zoom: 1;
}

.menu > li.menu__single {
  position: relative;
}

li.menu__single ul.menu__second-level {
  position: absolute;
  top: 40px;
  width: 100%;
  background: $header-bg-color-secondary;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

li.menu__single:hover ul.menu__second-level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}
