$text-color: $black-gray;
$body-link-color: #003498;

main {
  text-align: justify;
  word-wrap: break-word;

  color: $text-color;
  font-size: 1.125rem;
  :link {
    color: $link-color;
  }
  :visited {
    color: $visited-color;
  }
  :link, :visited {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  padding: 2rem 4rem;
  @media (min-width: 64rem) {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
  }
  @media (max-width: 48rem) {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  :first-child {
    margin-top: 0;
  }

  .title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $white-gray;
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    padding-left: 0.5em;
    color: black;
    border-left: 0.5em solid $heading-color;
    border-bottom: 3px solid $heading-color;
  }

  h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-left: 0.9em;
    color: black;
    border-left: 0.3em solid $heading-color;
  }

  h4 {
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 0.89em;
    margin-bottom: 0.89em;
    padding-left: 0.5em;
    color: black;
    // border-left: 2px solid $heading-color;
    background-color: #ededed;
  }

  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color;
  }

  summary {
    cursor: pointer;
    color: $body-link-color;
    &:hover {
      text-decoration: underline;
    }
  }

  /* supportsページ用 */
  .support-channel-main {
    border: 2px solid $section-headings-color;
    margin: 2em -1em 0;
    padding: 1em;
  }
  .support-channel-link {
    border: 2px solid $section-headings-color;
    margin: -2px -1em 2em;
    padding: 0.5em 1em;
    text-align: center;
    font-weight: bolder;
  }
  @media screen and (max-width: 48rem) {
    .support-channel-main,
    .support-channel-link {
      margin-left: -0.5em;
      margin-right: -0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

.main__toc {
  padding: 1em 0 0;
  margin: 2.29em 0;
  font-size: 0.875em;
  border-radius: 1em;
  background-color: #ededed;
  & > h2 {
    margin: 0 0 0.4em 0.8em;
    padding: 0;
    border: none;
    font-size: 1.25em;
    font-weight: bold;
    color: $text-color;
  }
  ul {
    margin: 0;
    padding-left: 1em;
  }
  li {
    display: contents;
  }
  li > a {
    display: block;
    border-top: 1px solid white;
    color: #0056be;
    padding: 0.5em 1em 0.5em 0;
    line-height: 1;
    &:hover {
      color: $link-color;
      background-color: $white-gray;
    }
    @media (pointer: coarse) {
      padding: 1em 1em 1em 0;
    }
  }
}

#pagetop {
  position: fixed;
  right: 20px;
  bottom: 50px;
  cursor: pointer;
}
