---
interface Props {
  pageSlug?: string;
}

const { pageSlug } = Astro.props;
---

{
  pageSlug === "oc" && (
    <ul>
      <li>
        <a href="https://youtu.be/tTpAlqVhEXQ">Procedure video</a>
      </li>
    </ul>
  )
}

<ol>
  <li>
    Obtain the "Notification regarding password for the UTokyo Account", which
    will include your initial password from your faculty/graduate school.
    {
      pageSlug === "oc" && (
        <>
          You should receive this notification well before classes start;
          however, if you do not, please contact your faculty/graduate school.
          (The notification is available to first year undergraduate students at{" "}
          <a href="https://utas-ew.adm.u-tokyo.ac.jp/">
            https://utas-ew.adm.u-tokyo.ac.jp/
          </a>{" "}
          starting March 22.)
        </>
      )
    }
    {
      pageSlug === "faculty_members" && (
        <>
          It should have been distributed to those who need it for classes. If
          not, please contact your department.
        </>
      )
    }
    {
      pageSlug === "utokyo_account" && (
        <ul>
          <li>
            <strong>Students</strong>: You should receive this notification well
            before classes start. If not, please contact your
            college/faculty/graduate school. (*The notification will be provided
            to new first year undergraduate students in the
            <a href="https://utas-ew.adm.u-tokyo.ac.jp/campusew/?logintype=p">
              Information Registration System for Successful Applicants
            </a>
            ).
          </li>
          <li>
            <strong>Faculty and staff members</strong>: Faculty members who
            require it for classes should receive the notification. If not,
            please contact your department's office.
          </li>
        </ul>
      )
    }
  </li>
  {
    pageSlug === "oc" ? (
      <li>
        Please log in to the{" "}
        <a href="https://utacm.adm.u-tokyo.ac.jp/webmtn/LoginServlet">
          UTokyo Account User Menu
        </a>{" "}
        with the username and password indicated on the notification.
      </li>
    ) : (
      <li>
        Please log in to the "UTokyo Account User Menu" below with the username
        and password indicated on the notification.
        <b class="box center">
          <a href="https://utacm.adm.u-tokyo.ac.jp/webmtn/LoginServlet">
            UTokyo Account User Menu
          </a>
        </b>
      </li>
    )
  }
  <li>
    Click "Password Change" on the upper left to change your password (you
    cannot use the services with your initial password). When choosing a new
    password, make sure that you use a password that sets the strength indicator
    to "strong" or "very-strong".
  </li>
</ol>
<ul>
  <li>
    If this procedure does not work, please consult the <a href="/en/support/"
      >Technical Support Desk</a
    >.
  </li>
</ul>
