---
---

<li>
  <strong>Optional task: Enable the "Multi-Factor Authentication (MFA)"</strong>
  <ul>
    <li>
      Multi-factor authentication (MFA) is a security process in which users
      prove their identity using at least two pieces of evidence. In addition to
      passwords, users are asked to verify their identity via SMS,
      authentication applications, or other methods when signing into their
      accounts. MFA setup is not mandatory at this time, but it is hignly
      recommended from a better security aspect for your UTokyo Account.
    </li>
  </ul>
  <ol>
    <li>
      Please follow the setup procedures in the "<a
        href="/en/utokyo_account/mfa/initial"
        >Initial Setup Procedures for Multi-Factor Authentication for UTokyo Accounts</a
      >" page.
    </li>
  </ol>
  <ul>
    <li>
      If this procedure does not work, please consult the <a href="/en/support"
        >Technical Support Desk</a
      >.
    </li>
  </ul>
</li>
