---

---

<ul>
    <li><strong>Smartphone (the same device where you installed the Microsoft Authenticator app)</strong>：
        <ol>
            <li>Click "Pair your account to the app by clicking this link".</li>
            <li>Check that your UTokyo Account appears in the 
                Microsoft Authenticator app.
                <img src="first_ms_auth_link.png"></li>
        </ol>
    </li>
    <li><strong>Other Devices (PC etc.)</strong>
        <ol>
            <li>Read the instructions and  
                click "Next" to go to the QR code page.  
                <img src="first_ms_auth_qr.png"></li>
            <li>Open the Microsoft Authenticator app on your smartphone, 
                select "+" from the icon in the upper-right, 
                then "Work or school account", and "Scan QR code".
                <img src="ms_auth_screen.png"></li>
            <li>Scan the QR code with your device's camera.</li>
            <li>Check that your UTokyo Account appears on the app. 
                <img src="ms_auth_list.png"></li>
        </ol>
    </li>   
</ul>