{% if page.author.affiliation %}
{% capture affiliation %}{{ site.data.affiliation[page.author.affiliation][page.lang] | default: page.author.affiliation }}{% endcapture %}
{% endif %}
{% if page.author.name or page.author.affiliation %}
<hr />
{% if page.author.name and page.author.affiliation %}
{% if page.lang == "en" %}
{% assign author_delimiter = ', ' %}
{% else %}
{% assign author_delimiter = ' ' %}
{% endif %}
{% endif %}
{% if page.lang == "en" %}
<div class="author">Author: {{ page.author.name }}{{ author_delimiter }}{{ affiliation }}</div>
{% else %}
<div class="author">執筆: {{ affiliation }}{{ author_delimiter }}{{ page.author.name }}</div>
{% endif %}
{% endif %}
