<!DOCTYPE html>
<html lang="{{ page.lang }}"{% if page.lang == "en" %} class="en"{% endif %}>
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    <meta property="og:type" content="website">
    {% include layouts/description.html %}
    {% assign url_with_ext = site.url | append: page.url %}
    {% assign url_without_ext = url_with_ext | replace: '.html', '' %}
    {% capture seo %}{% seo %}{% endcapture %}
{{ seo | replace: url_with_ext, url_without_ext }}
    <link rel="icon" href="/assets/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% if page.css %}
      {% for c in page.css %}
        <link rel="stylesheet" href="{{ '/assets/css/' | append: c | append: '.css?v=' | append: site.github.build_revision | relative_url }}">
      {% endfor %}
    {% endif %}

    {% if page.js %}
      {% for j in page.js %}
      <script src="{{ '/assets/js/' | append: j | append: '.js?v=' | append: site.github.build_revision | relative_url }}"></script>
      {% endfor %}
    {% endif %}
    <script async src="https://cse.google.com/cse.js?cx=000989064976317806194:6h5uropjuyu"></script>

  </head>
  <body>
{{ content }}
  </body>
</html>
