{%- unless page.description -%}

{%- assign description = '' -%}
{%- assign nodes = content | split: '<h2' -%}
{%- assign toc = page.toc | default: true -%}

{%- for node in nodes -%}
  {%- unless node contains '</h2>' -%}
    {%- continue -%}
  {%- endunless -%}

  {%- assign split = node | split: '>' -%}
  {%- assign header = split[1] | remove_first: '</h2'| escape -%}
  {%- if toc -%}
    {%- assign toc = false -%}
    {%- continue -%}
  {%- endif -%}
  {%- assign description = description | append: '; ' | append: header -%}
{%- endfor -%}

{%- assign description = description | remove_first: '; ' -%}

{%- unless description == '' -%}
{%- if page.lang == 'en' -%}
  {%- assign description = description | prepend: 'Table of Contents: ' -%}
{%- else -%}
  {%- assign description = description | prepend: '目次: ' -%}
{%- endif -%}
{%- assign description = description | truncate: 100, '...' -%}
<meta name="description" content="{{ description }}">
<meta name="og:description" content="{{ description }}">
{%- endunless -%}

{%- endunless -%}
