{% include layouts/lang.html %}

<a class="top-link" href="#"><img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/arrow_upward/v10/24px.svg"></a>
<a class="feedback-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdEantPHma0G5NhkaSS_28MwfoTQNw9ic9TD8tb-snpcOZVjQ/viewform?usp=pp_url&entry.1839091442={{ site.url }}{{ page.url }}" target="_blank"><img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/feedback/v11/24px.svg"></a>
{% unless page.sinclo %}
<a class="support-link" href="{% if lang == "en" %}/en{% endif %}/supports/" target="_blank"><img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/contact_support/v12/24px.svg"></a>
{% endunless %}

<footer>
  <div class="footer__logo">
    <a href="https://www.u-tokyo.ac.jp/" target="_blank" rel="noopener"><img class="footer__logo__utokyo" src="/assets/images/UTlogo.png" alt="東京大学 the University of Tokyo"></a>
    <a class="footer__logo__utelecon" href="/{% if lang == "en" %}en/{% endif %}">{%
      if lang == "en"
        %}utelecon: Online Class / Web Conference Portal Site{%
      else
        %}utelecon: オンライン授業・Web会議ポータルサイト{%
      endif
    %}</a>
  </div>
  <nav class="footer__nav">
    <ul>
      {% for item in site.data.nav[lang] %}
        <li>
          <div>{{ item.name }}</div>
          <ul class="">
            {% for second in item.contents %}
              <li><a href="{{ second.url }}"{%
                assign url_slice = second.url | slice: 0, 4
              %}{%
                if url_slice == "http"
              %} target="_blank" rel="noopener"{%
                endif
              %}>{{ second.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>
</footer>

{% if page.sinclo %}
<script type="text/javascript" src="https://ws1.sinclo.jp/client/5e8c740062643.js"></script>
{% endif %}

{% if page.zendesk %}
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=a5b5df88-828a-409d-8f22-e7a996c58b1d"> </script>
{% endif %}
