{% unless page.slug == "support" %}
<div class="footer-wrap">
  <a class="footer-link wide-only" href="javascript: scroll({top: 0, behavior: 'smooth'});">
    <div class="footer-icon"><span class="material-icon">arrow_upward</span></div>
    <div class="footer-description">{% if page.lang == "en" %}Scroll to Top {% else %}上に戻る{% endif %}</div>
  </a>
  <a class="footer-link wide-only" href="https://docs.google.com/forms/d/e/1FAIpQLSdEantPHma0G5NhkaSS_28MwfoTQNw9ic9TD8tb-snpcOZVjQ/viewform?usp=pp_url&entry.1839091442={{ site.url }}{{ page.url | replace: '.html', '' }}" target="_blank">
    <div class="footer-icon"><span class="material-icon">feedback</span></div>
    <div class="footer-description">{% if page.lang == "en" %}Feedback{% else %}フィードバック{% endif %}</div>
  </a>
  <a class="footer-link" href="{% if page.lang == "en" %}/en{% endif %}/support/" target="_blank">
    <div class="footer-icon"><span class="material-icon">contact_support</span></div>
    <div class="footer-description">{% if page.lang == "en" %}Support Desk{% else %}サポート窓口{% endif %}</div>
  </a>
</div>
{% endunless %}

<footer>
  <div class="footer__logo">
    <a href="https://www.u-tokyo.ac.jp/" target="_blank" rel="noopener"><img class="footer__logo__utokyo" src="/assets/images/UTlogo.png" alt="東京大学 the University of Tokyo"></a>
    <a class="footer__logo__utelecon" href="/{% if page.lang == "en" %}en/{% endif %}">{%
      if page.lang == "en"
        %}utelecon: Online Class / Web Conference Portal Site{%
      else
        %}utelecon: オンライン授業・Web会議ポータルサイト{%
      endif
    %}</a>
  </div>
  <nav class="footer__nav">
    <ul>
      {% for item in site.data.nav[page.lang] %}
        <li>
          <div>{{ item.name }}</div>
          <ul class="">
            {% for second in item.contents %}
              <li><a href="{{ second.url }}"{%
                assign url_slice = second.url | slice: 0, 4
              %}{%
                if url_slice == "http"
              %} target="_blank" rel="noopener"{%
                endif
              %}>{{ second.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>
</footer>

{% if page.slug == "support" %}
<script type="text/javascript" src="https://ws.mediatalk.io/client/5e8c740062643.js"></script>
{% endif %}

{% if page.zendesk %}
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=a5b5df88-828a-409d-8f22-e7a996c58b1d"> </script>
{% endif %}
