{% include layouts/lang.html %}
{% unless page.sinclo %}
<a class="support-link" href="{% if lang == "en" %}/en{% endif %}/supports/" target="_blank">{%
  if lang == "en"
    %}Need Help? Contact the Support Desk{%
  else
    %}困ったときはサポート窓口へ<small>（別ページが開きます）</small>{%
  endif
%}</a>
{% endunless %}

<footer>
  <div class="footer__logo">
    <a href="https://www.u-tokyo.ac.jp/" target="_blank" rel="noopener"><img class="footer__logo__utokyo" src="/assets/images/UTlogo.png" alt="東京大学 the University of Tokyo"></a>
    <a class="footer__logo__utelecon" href="/{% if lang == "en" %}en/{% endif %}">{%
      if lang == "en"
        %}utelecon: Online Class / Web Conference Portal Site{%
      else
        %}utelecon: オンライン授業・Web会議ポータルサイト{%
      endif
    %}</a>
  </div>
  <nav class="footer__nav">
    <ul>
      {% for item in site.data.nav[lang] %}
        <li>
          <div>{{ item.name }}</div>
          <ul class="">
            {% for second in item.contents %}
              <li><a href="{{ second.url }}"{%
                assign url_slice = second.url | slice: 0, 4
              %}{%
                if url_slice == "http"
              %} target="_blank" rel="noopener"{%
                endif
              %}>{{ second.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>
</footer>

{% if page.sinclo %}
<script type="text/javascript" src="https://ws1.sinclo.jp/client/5e8c740062643.js"></script>
{% endif %}
