{% include layouts/lang.html %}
<header id="header" class="header">
  <div class="header__primary">
    <button id="header__hamburger-button" class="header__hamburger-button">
      <span class="header__hamburger-button__icon"></span>
      <span class="header__hamburger-button__text">Menu</span>
    </button>
    <{% if include.is_top %}h1{% else %}div{% endif %} class="header__title">
      <a class="header__title__link" href="/{% if lang == "en" %}en/{% endif %}">
        <span class="header__title__main">utelecon</span>
        <span class="header__title__sub">{%
          if lang == "en"
            %}Online Class / Web Conference Portal Site @ the University of Tokyo{%
          else
            %}オンライン授業・Web会議ポータルサイト @ 東京大学{%
          endif
        %}</span>
      </a>
    </{% if include.is_top %}h1{% else %}div{% endif %}>
  </div>
  <div class="header__hamburger-contents">
    <div class="header__links">
      <div class="gcse-search"></div>
      <div>
        <a href="/{% if lang == "en" %}en/{% endif %}">TOP</a> | <a href="/{% if lang == "en" %}en/{% endif %}about/">about</a> | {%
          if lang == "en"
            %}<a href="{{ page.url | replace: '.html', '' | replace_first: 'en/', '' }}">日本語</a>{%
          else
            %}<a href="/en{{ page.url | replace: '.html', '' }}">English</a>{%
          endif
        %}
      </div>
    </div>
    <nav class="header__nav">
      <ul>
        {% for item in site.data.nav[lang] %}
          <li>
            <div class="header_nav_text">{{ item.name }}</div>
            <ul>
              {% for second in item.contents %}
                <li><a href="{{ second.url }}"{%
                  assign url_slice = second.url | slice: 0, 4
                %}{%
                  if url_slice == "http"
                %} target="_blank" rel="noopener"{%
                  endif
                %}>{{ second.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      "use strict";
      const headerElement = document.getElementById("header");
      document.getElementById("header__hamburger-button").addEventListener("click", function () {
        if (headerElement.classList.contains("header--hamburger-open")) {
          headerElement.classList.remove("header--hamburger-open");
        } else {
          headerElement.classList.add("header--hamburger-open");
        }
      })
    })
  </script>
</header>
