<header class="header">
  <div class="header__hamburger-button">
    <button class="hiraku-open-btn" id="offcanvas-btn-left" data-toggle-offcanvas="#js-hiraku-offcanvas-1">
    <span class="hiraku-open-btn-line"></span>
    </button>
    <div style="line-height: 10px;font-size: 12px;color: white;">Menu</div>
  </div>
  <a class="header__title" href="/{% if page.lang == "en" %}en/{% endif %}">
    <div class="header__title__main">utelecon</div>
    <div class="header__title__sub">オンライン授業・Web会議ポータルサイト @ 東京大学</div>
  </a>
  <div class="header__hamburger-contents">
    <div class="header__links">
      <div class="gcse-search"></div>
      <div>
        <a href="/{% if page.lang == "en" %}en/{% endif %}">TOP</a> | <a href="/en{{page.url}}">English</a>
      </div>
    </div>
    <nav class="header__nav">
      <ul>
        {% for item in site.data.nav %}
          <li>
            <div class="header_nav_text">{{ item.name }}</div>
            <ul>
              {% for second in item.contents %}
                <li><a href="{{ second.url }}"{%
                  assign url_slice = second.url | slice: 0, 4
                %}{%
                  if url_slice == "http"
                %} target="_blank" rel="noopener"{%
                  endif
                %}>{{ second.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <script>
    $(".header__hamburger-contents").hiraku({
      btn:"#offcanvas-btn-left",
      direction:"left"
    });
  </script>
</header>
