<header id="header" class="header">
  <div class="header__primary">
    <button id="header__hamburger-button" class="header__hamburger-button">
      <span class="header__hamburger-button__icon"></span>
      <span class="header__hamburger-button__text">Menu</span>
    </button>
    <{% if include.is_top %}h1{% else %}div{% endif %} class="header__title">
      <a class="header__title__link" href="/{% if page.lang == "en" %}en/{% endif %}">
        <span class="header__title__main">utelecon</span>
        <span class="header__title__sub">{%
          if page.lang == "en"
            %}Online Class / Web Conference Portal Site @ the University of Tokyo{%
          else
            %}オンライン授業・Web会議ポータルサイト @ 東京大学{%
          endif
        %}</span>
      </a>
    </{% if include.is_top %}h1{% else %}div{% endif %}>
  </div>
  <div class="header__hamburger-contents">
    <div class="header__links">
      <div class="gcse-search"></div>
      <div>
        {% if page.lang == "en" -%}
          <a href="/en/">TOP</a> | <a href="/en/about/">About</a> | <a href="{{ page.url | replace: '.html', '' | replace_first: 'en/', '' }}">日本語</a>
        {%- else -%}
          <a href="/">TOP</a> | <a href="/about/">About</a> | <a href="/en{{ page.url | replace: '.html', '' }}">English</a>
        {%- endif %}
      </div>
    </div>
    <nav class="header__nav">
      <ul>
        {% for item in site.data.nav[page.lang] %}
          <li>
            <div class="header_nav_text">{{ item.name }}</div>
            <ul>
              {% for second in item.contents %}
                <li><a href="{{ second.url }}">{{ second.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      "use strict";
      const headerElement = document.getElementById("header");
      document.getElementById("header__hamburger-button").addEventListener("click", function () {
        headerElement.classList.toggle("header--hamburger-open");
      });
    })
  </script>
</header>
