{% assign fragments = content | split: "<a" %}
{% assign content_target_blank = fragments[0] %}
{% assign skip_first = true %}
{% assign href_inner = 'href="' | append: site.url %}

{% for fragment in fragments %}
{% if skip_first %}
  {% assign skip_first = false %}
  {% continue %}
{% endif %}
{% assign tag = fragment | split: ">" | first %}
{% assign target_blank = false %}
{% if tag contains 'href="http' %}
  {% unless tag contains href_inner or tag contains "target=" or tag contains "rel=" %}
  {% assign target_blank = true %}
  {% endunless %}
{% endif %}
{% if target_blank %}
  {% assign fragment_target_blank = fragment | replace_first : '>', ' target="_blank" rel="noopener">' %}
  {% assign content_target_blank = content_target_blank | append: "<a" | append: fragment_target_blank %}
{% else %}
  {% assign content_target_blank = content_target_blank | append: "<a" | append: fragment %}
{% endif %}
{% endfor %}
{{ content_target_blank }}
