---
import { SEO } from "astro-seo";
import { GoogleAnalytics } from "@astrolib/analytics";

import "../styles/global.scss";
export interface Props {
  title: string;
  description?: string;
}

function createDefaultDescription(): string {
  return "";
}

const { title = "utelecon", description = createDefaultDescription() } =
  Astro.props;
const en = Astro.url.pathname.startsWith("/en");

const siteName = "utelecon";
const ogImage = "/assets/images/ogp.png";
const gaid = "";
---

<!DOCTYPE html>
<html {...en ? { lang: 'en', class: 'en' } : { lang: 'ja' }}>
  <head>
    <SEO
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title,
          type: "website",
          url: Astro.url.href,
          image: ogImage,
        },
        optional: {
          description,
          locale: en ? "en_US" : "ja_JP",
          siteName,
        },
        image: {
          alt: "utelecon",
        },
      }}
      twitter={{
        title,
        description,
      }}
    />

    <GoogleAnalytics id={gaid} partytown />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#157878" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
