---
import type { ResolvedBreadcrumb } from "./resolve-breadcrumb";

interface Props {
  breadcrumb: ResolvedBreadcrumb[];
}

const { breadcrumb } = Astro.props;
---

<p class="breadcrumb">
  {
    breadcrumb.map(({ title, pathname }, i) => (
      <>
        {i > 0 && <span class="breadcrumb__separator">arrow_forward_ios</span>}
        {i === breadcrumb.length - 1 ? (
          <span class="breadcrumb__item">{title}</span>
        ) : (
          <a href={pathname} class="breadcrumb__item">
            {title}
          </a>
        )}
      </>
    ))
  }
</p>

<style lang="scss">
  .breadcrumb {
    .breadcrumb__separator {
      font-family: "Material Icons";
      font-size: small;
      margin: 0 0.1rem;
    }

    .breadcrumb__item {
      font-size: medium;
    }
  }
</style>
