---
import BaseLayout from "./BaseLayout.astro";
import type { Props as BaseProps } from "./BaseLayout.astro";
import Header from "@components/Header";
import Footer from "@components/Footer.astro";

export interface Props extends BaseProps {
  h1?: string;
}

const { title, h1 } = Astro.props;
---

<BaseLayout {...Astro.props}>
  <Header />
  <main id="content">
    <h1 class="title">{h1 ?? title}</h1>
    <slot />
  </main>
  <Footer />
</BaseLayout>
