---
interface Props {
  frontmatter: Frontmatter;
}

interface Frontmatter {
  redirect_to: string;
}

const { frontmatter } = Astro.props;
const { redirect_to } = frontmatter;
---

<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8" />
    <title>Redirecting…</title>
    <link rel="canonical" href={redirect_to} />
    <script set:html=`location = ${redirect_to}` />
    <meta http-equiv="refresh" content={`0; url=${redirect_to}`} />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <h1>Redirecting…</h1>
    <a href={redirect_to}>Click here if you are not redirected.</a>
  </body>
</html>
