{% comment %}UTokyo WiFiアカウントの発行を申請する{% endcomment %}
<ul>
{%- if page.slug == "oc" %}
  <li><a href="/oc/movies#utokyo_wifi">手順動画</a></li>
{%- else %}
  <li>既に有効なUTokyo WiFiアカウントを持っている場合，アカウント発行の手順を繰り返す必要はありません（2台目以降の機器も同じアカウントで利用できます）．</li>
{%- endif %}
{%- if page.slug == "oc"%}
  <li>UTASにメールアドレスを登録した翌日以降に作業してください．</li>
{%- else %}
  <li>手順3は，上の手順2でメールアドレスを登録した翌日以降に作業してください．</li>
{%- endif %}
</ul>
<ol>
{%- if page.slug == "oc" %}
  <li>「<a href="https://netacm.adm.u-tokyo.ac.jp/secure/user_applies/index/1/">UTokyo WiFiアカウントメニュー</a>」にアクセスしてください．</li>
{%- else %}
  <li>以下の「UTokyo WiFiアカウントメニュー」にアクセスしてください．
    <b class="box center"><a href="https://netacm.adm.u-tokyo.ac.jp/secure/user_applies/index/1/">UTokyo WiFiアカウントメニュー</a></b>
  </li>
{%- endif %}
  <li>既にUTokyo Accountにサインイン済みの場合を除き，UTokyo Accountのサインイン画面が表示されるので，サインインしてください．</li>
  <li>「新規申請」ボタンを押してください．</li>
  <li>「通知用メールアドレス」の欄に，{%
    if page.slug == "oc"
  %}UTASで前日までに登録したメールアドレス{%
    else
  %}手順2で前日までに登録したメールアドレス{%
    endif
  %}が表示されているので，確認してください．このメールアドレスに，UTokyo WiFiの利用に必要なアカウント情報（ユーザーID・パスワード）が書かれた通知メールが届きます．</li>
  <li>「申請」ボタンを押してください．</li>
  <li>しばらく待つと通知メールが届きます．</li>
</ol>
<ul>
  <li>
    <details>
      <summary>この手順がうまくいかないときのヘルプ</summary>
      <ul>
        <li>
          <strong>以下のような画面が出てアカウントメニューにアクセスできない場合</strong>
          <img src="/utokyo_wifi/img/account_menu_login_denied.png" class="small">
          情報セキュリティ教育を受講していないため，アカウントが停止されています．詳細は{%
            if page.slug == "oc"
          %}<a href="/utokyo_wifi/#jouhou-security">UTokyo WiFiのページの「情報セキュリティ教育」</a>{%
            else
          %}「<a href="#jouhou-security">情報セキュリティ教育</a>」{%
            endif
          %}を参照してください．
        </li>
        <li><strong>通知メールが届かない場合</strong>：
          <ul>
            <li>迷惑メールフォルダなどに紛れ込んでいないかどうか，再度確認してください．</li>
            <li>メールは，申請画面の「通知用メールアドレス」欄に表示されているメールアドレス（{%
              if page.slug == "oc"
            %}前日までにUTASに{%
              else
            %}手順2で前日までに{%
              endif
            %}登録したもの）に届きます．違うメールアドレスを見ていないか確認してください．</li>
          </ul>
        </li>
      </ul>
      これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
    </details>
  </li>
</ul>
