{% comment %}UTokyo Wi-Fiアカウントの発行を申請する{% endcomment %}
<ul>
{%- if page.slug == "oc" %}
  <li><a href="/oc/movies#utokyo_wifi">手順動画</a></li>
{%- else %}
  <li>既に有効なUTokyo Wi-Fiアカウントを持っている場合，アカウント発行の手順を繰り返す必要はありません（2台目以降の機器も同じアカウントで利用できます）．</li>
{%- endif %}
</ul>
<ol>
{%- if page.slug == "oc" %}
  <li>「<a href="https://acm.wifi.adm.u-tokyo.ac.jp/secure/user_applies/index/1/">UTokyo Wi-Fiアカウントメニュー</a>」にアクセスしてください．</li>
{%- else %}
  <li>以下の「UTokyo Wi-Fiアカウントメニュー」にアクセスしてください．
    <b class="box center"><a href="https://acm.wifi.adm.u-tokyo.ac.jp/secure/user_applies/index/1/">UTokyo Wi-Fiアカウントメニュー</a></b>
  </li>
{%- endif %}
  <li>既にUTokyo Accountにサインイン済みの場合を除き，UTokyo Accountのサインイン画面が表示されるので，サインインしてください．</li>
  <li>「新規申請」ボタンを押してください．</li>
  <li>アカウント情報（ユーザーID・パスワード）が書かれた通知メールは，<a href="/eccs_cloud_email">ECCSクラウドメール</a>のメールアドレスと，「通知用メールアドレス」欄に表示されているメールアドレスの両方に届きます．<br />
    ※申請後にアカウントメニューを閉じてしまうと，通知メール以外からはUTokyo Wi-Fiアカウントのパスワードを確認することができなくなります．次の作業に進む前に，通知メールを受け取れる状態になっているかどうかを確認してください．
    <details>
      <summary>通知用メールアドレスを変更したい場合</summary>
      {% case page.slug %}
      {% when "oc" %}
      通知メールが送信されるメールアドレスは，<a href="https://utas.adm.u-tokyo.ac.jp/campusweb/campusportal.do">UTAS</a>の「学生情報」メニューにある「現住所等変更入力」の「E-MAIL 1」欄から変更することができます（なお，「E-MAIL 2」のアドレスはUTokyo Wi-Fiのメール送信先としては使えません）．
      {% else %}
      通知メールが送信されるメールアドレスは次の場所から変更することができます．
        <ul>
          <li>学生の場合：<a href="https://utas.adm.u-tokyo.ac.jp/campusweb/campusportal.do">UTAS</a>の「学生情報」メニューにある「現住所等変更入力」の「E-MAIL 1」欄（なお，「E-MAIL 2」のアドレスはUTokyo Wi-Fiのメール送信先としては使えません）</li>
          <li>教職員の場合：<a href="https://univtokyo.sharepoint.com/sites/utokyoportal/wiki/d/Personal_information_and_ID_card.aspx">人事情報MyWeb</a>の「パーソナルメニュー」にある「本人属性変更：登録画面」の「学内メールアドレス」欄</li>
        </ul>
      {% endcase %}
      なお，変更が反映されるまでに時間がかかりますので，翌日以降に改めてアカウント発行申請の作業を行ってください．
    </details>
  </li>
  <li>「申請」ボタンを押してください．</li>
  <li>しばらく待つと通知メールが届きます．また，通知メールと同様の内容がアカウントメニューにも表示されます．</li>
</ol>
<ul>
  <li>
    <details>
      <summary>この手順がうまくいかないときのヘルプ</summary>
      <ul>
        <li>
          <strong>以下のような画面が出てアカウントメニューにアクセスできない場合</strong>：
          <img src="/utokyo_wifi/img/account_menu_access_denied.png" class="small">
          情報セキュリティ教育を受講していないため，アカウントが停止されています．詳細は{%
            if page.slug == "oc"
          %}<a href="/utokyo_wifi/#jouhou-security">UTokyo Wi-Fiのページの「情報セキュリティ教育」</a>{%
            else
          %}「<a href="#jouhou-security">情報セキュリティ教育</a>」{%
            endif
          %}の項を参照してください．
        </li>
        <li><strong>通知メールが届かない場合</strong>：
          <ul>
            <li>迷惑メールフォルダなどに紛れ込んでいないかどうか，再度確認してください．</li>
            <li>メールは，ECCSクラウドメールと，申請画面の「通知用メールアドレス」欄に表示されているメールアドレスに届きます．違うメールアドレスを見ていないか確認してください．</li>
          </ul>
        </li>
      </ul>
      これらを確認して，それでもうまくいかなければ，<a href="/support/">サポート窓口</a>に相談してください．
    </details>
  </li>
</ul>
