---
import { renderMarkdown } from "@astrojs/markdown-remark";

async function render(md: string) {
  return renderMarkdown(md, {}).then(
    // remove <p> and </p>
    (result) => result.code.slice(3, -4)
  );
}

interface Props {
  /**
   * Markdown
   */
  content: string;
}

const { content } = Astro.props;
---

<Fragment set:html={render(content)} />
