---
// ECCS端末の利用権を申請する
---

<ol>
  <li>
    Access <a href="https://idm.ecc.u-tokyo.ac.jp/idworkflow/"
      >ECCS application menu</a
    >.
  </li>
  <li>
    Unless you have already signed in, the UTokyo Account sign-in page will be
    displayed. Please sign in.
  </li>
  <li>Click "Request Create" in the left menu.</li>
  <li>Click on the "ECCS Application (for students)" link.</li>
  <li>
    Confirm the details of your application and click the "Submit" button. You
    will be granted ECCS usage rights immediately after completing the
    application.
  </li>
</ol>
<ul>
  <li>
    この手順がうまくいかないときは<a href="/support/">サポート窓口</a
    >に相談してください．
  </li>
</ul>
